
/* Banner 01 */
.banner-01{position:relative; width:100%;}
.banner-01 > .slide-container{position:relative; width:100%; padding:0 0 2.9375rem 0;}
.banner-01 .slide{
    height:450px; display:flex; align-items:center; text-align:center; line-height:1;
    background-size:cover; background-position:center; background-repeat:no-repeat;
    padding:0 0 3rem 0;
}
.banner-01 h1{font-size:4.5rem; font-weight:600; margin:0; letter-spacing:.875rem; line-height:.75;}
.banner-01 h2{font-size:3.25rem; font-weight:100; margin:0; letter-spacing:.0625rem;}
.banner-01 h3{font-size:2.125rem; font-weight:300; margin:.5rem 0 0 0;}
.banner-01 .dots{
    position:absolute; bottom:0; left:0; right:0; display:flex; align-items:center; 
    justify-content:center; padding:1.1875rem 1rem; height:3rem;
}
.banner-01 .dots::before{
    content:''; position:absolute; bottom:100%; left:0; right:0; height:10vw;
    background:rgba(0,0,0,.3);
}
.banner-01 .dots > .slick-dots{
    display:flex; position:relative; margin:0; padding:0; list-style:none; align-items:center;
}
.banner-01 .dots li{position:relative; display:block; margin:0 auto; padding:0 .5625rem;}
.banner-01 .dots button{
    position:relative; display:block; font-size:0; border:0; box-shadow:none;
    border-radius:50%; cursor:pointer; padding:0; margin:0 auto; outline:none;
    width:.5rem; height:.5rem; transition:width .3s, height .3s;
}
.banner-01 .dots li.slick-active > button{width:.6875rem; height:.6875rem;}
.banner-01 .dots button:before{
    content:''; position:absolute; top:-.3125rem; left:-.3125rem; width:1.3125rem; height:1.3125rem;
    border-radius:50%; opacity:0; transition:opacity .3s;
}
.banner-01 .dots li.slick-active > button:before{opacity:1;}
.banner-01 .arrows{
    position:absolute; display:flex; justify-content:space-between; align-items:center;
    top:0; bottom:calc(3rem + 10vw); left:0; right:0; padding:0 1rem; pointer-events:none;
}
.banner-01 .arrows > .slick-prev, .banner-01 .arrows > .slick-next{
    display:block; width:2.5rem; height:2.5rem; pointer-events:auto; cursor:pointer; opacity:0;
    text-align:center; line-height:2.75rem; outline:none; font-size:0; background:transparent;
    box-shadow:none; border:0; transition:opacity .3s, transform .3s; 
}
.banner-01 .arrows > .slick-prev{transform:translateX(-.625rem);}
.banner-01 .arrows > .slick-next{transform:translateX(.625rem);}
.banner-01 .slide-container:hover .arrows > .slick-prev, 
.banner-01 .slide-container:hover .arrows > .slick-next{
    opacity:.8; transform:translateX(0);
}
.banner-01 .arrows > .slick-prev:hover, .banner-01 .arrows > .slick-next:hover{opacity:1;}
.banner-01 .arrows > .slick-prev::before, .banner-01 .arrows > .slick-next::before{
    font-family:'Font Awesome 5 Free'; font-weight:900; font-size:2.5rem;
}
.banner-01 .arrows > .slick-prev::before{content:'\f053';}
.banner-01 .arrows > .slick-next::before{content:'\f054';}
@media screen and (max-width:991.98px){
    .banner-01 .slide{height:440px;}
    .banner-01 h1{font-size:3.875rem; letter-spacing:.75rem;}
    .banner-01 h2{font-size:3.125rem; letter-spacing:.0625rem;}
    .banner-01 h3{font-size:1.875rem; margin:.4375rem 0 0 0;}
}
@media screen and (max-width:767.98px){
    .banner-01 .slide-container{padding:0 0 2.5rem 0;}
    .banner-01 .slide{height:400px;}
    .banner-01 h1{font-size:3.125rem; letter-spacing:.575rem;}
    .banner-01 h2{font-size:3rem; letter-spacing:0;}
    .banner-01 h3{font-size:1.5rem; margin:.4375rem 0 0 0;}
    .banner-01 .dots{padding:1rem 1rem; height:2.625rem;}
    .banner-01 .dots li{padding:0 .5rem;}
    .banner-01 .arrows{bottom:calc(2.625rem + 10vw);}
}

.banner-01 .slide .animate{
    opacity:0; transform:translateY(4rem); transition:opacity .75s, transform .75s;
}
.banner-01 .slide.slick-active .animate{
    opacity:1; transform:translateY(0); transition-delay:var(--delay);
}
.loading .banner-01 .slide .animate{opacity:0!important; transform:translateY(4rem)!important;}

.banner-01.img-only .slide{height:auto!important; padding:0!important;}
.banner-01.img-only .slide > img{
    display:block; width:100%; height:auto; transition:transform 10s linear;
}
.banner-01.img-only .slide.slick-active > img{transition-delay:.75s; transform:scale(1.2);}
.loading .banner-01.img-only .slide.slick-active > img{transform:scale(1);}
