
/* Banner 01 */
.banner-01{position:relative; width:100%;}
.banner-01 > .slide-container{position:relative; width:100%; padding:0;}
.banner-01 .slide{
    height:450px; display:flex; align-items:center; text-align:center; line-height:1;
    background-size:cover; background-position:center; background-repeat:no-repeat;
    padding:0;
}
.banner-01 h1{font-size:4.5rem; font-weight:600; margin:0; letter-spacing:.875rem; line-height:.75;}
.banner-01 h2{font-size:3.25rem; font-weight:100; margin:0; letter-spacing:.0625rem;}
.banner-01 h3{font-size:2.125rem; font-weight:300; margin:.5rem 0 0 0;}
.banner-01 .dots{
    position:absolute; bottom:0; left:0; right:0; display:flex; align-items:center; 
    justify-content:center; padding:1.1875rem 1rem; height:3rem;
}
.banner-01 .dots::before{
    content:''; position:absolute; bottom:100%; left:0; right:0; height:10vw;
    background:rgba(0,0,0,.3);
}
.banner-01.no-filter .dots::before{display:none;}
.banner-01 .dots > .slick-dots{
    display:flex; position:relative; margin:0; padding:0; list-style:none; align-items:center;
}
.banner-01 .dots li{position:relative; display:block; margin:0 auto; padding:.5625rem;}
.banner-01 .dots li > .desc{
    position:absolute; bottom:100%; left:-6.75rem; width:15rem; text-align:center; padding:.25rem 1rem;
    pointer-events:none; font-size:1.1875rem; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
    font-weight:300; border-radius:.25rem; opacity:0; transition:bottom .3s, opacity .3s;
}
.banner-01 .dots li:hover > .desc{bottom:calc(100% + .25rem); opacity:1;}
.banner-01 .dots button{
    position:relative; display:block; font-size:0; border:0; box-shadow:none;
    border-radius:50%; cursor:pointer; padding:0; margin:0 auto; outline:none;
    width:.5rem; height:.5rem; transition:width .3s, height .3s;
}
.banner-01 .dots li.slick-active > button{width:.6875rem; height:.6875rem;}
.banner-01 .dots button:before{
    content:''; position:absolute; top:-.3125rem; left:-.3125rem; width:1.3125rem; height:1.3125rem;
    border-radius:50%; opacity:0; transition:opacity .3s;
}
.banner-01 .dots li.slick-active > button:before{opacity:1;}
.banner-01 .arrows{
    position:absolute; display:flex; justify-content:space-between; align-items:center;
    top:0; bottom:calc(3rem + 10vw); left:0; right:0; padding:0 1rem; pointer-events:none;
}
.banner-01.no-filter .arrows{bottom:3rem;}
.banner-01 .arrows > .slick-prev, .banner-01 .arrows > .slick-next{
    display:block; width:2.5rem; height:2.5rem; pointer-events:auto; cursor:pointer; opacity:0;
    text-align:center; line-height:2.75rem; outline:none; font-size:0; background:transparent;
    box-shadow:none; border:0; transition:opacity .3s, transform .3s; 
}
.banner-01 .arrows > .slick-prev{transform:translateX(-.625rem);}
.banner-01 .arrows > .slick-next{transform:translateX(.625rem);}
.banner-01 .slide-container:hover .arrows > .slick-prev, 
.banner-01 .slide-container:hover .arrows > .slick-next{
    opacity:.8; transform:translateX(0);
}
.banner-01 .arrows > .slick-prev:hover, .banner-01 .arrows > .slick-next:hover{opacity:1;}
.banner-01 .arrows > .slick-prev::before, .banner-01 .arrows > .slick-next::before{
    font-family:'Font Awesome 5 Free'; font-weight:900; font-size:2.5rem;
}
.banner-01 .arrows > .slick-prev::before{content:'\f053';}
.banner-01 .arrows > .slick-next::before{content:'\f054';}
@media screen and (max-width:991.98px){
    .banner-01 .slide{height:440px;}
    .banner-01 h1{font-size:3.875rem; letter-spacing:.75rem;}
    .banner-01 h2{font-size:3.125rem; letter-spacing:.0625rem;}
    .banner-01 h3{font-size:1.875rem; margin:.4375rem 0 0 0;}
}
@media screen and (max-width:767.98px){
    .banner-01 .slide-container{padding:0 0 2.5rem 0;}
    .banner-01 .slide{height:400px;}
    .banner-01 h1{font-size:3.125rem; letter-spacing:.575rem;}
    .banner-01 h2{font-size:3rem; letter-spacing:0;}
    .banner-01 h3{font-size:1.5rem; margin:.4375rem 0 0 0;}
    .banner-01 .dots{padding:1rem 1rem; height:2.625rem;}
    .banner-01 .dots li{padding:0 .5rem;}
    .banner-01 .arrows{bottom:calc(2.625rem + 10vw);}
}

.banner-01 .slide .animate{
    opacity:0; transform:translateY(4rem); transition:opacity .75s, transform .75s;
}
.banner-01 .slide.slick-active .animate{
    opacity:1; transform:translateY(0); transition-delay:var(--delay);
}
.loading .banner-01 .slide .animate{opacity:0!important; transform:translateY(4rem)!important;}

.banner-01.img-only .slide{height:auto!important; padding:0!important;}
.banner-01.img-only .slide > img{
    display:block; width:100%; height:auto; transition:transform 10s linear;
}
.banner-01.img-only .slide.slick-active > img{transition-delay:.75s; transform:scale(1.2);}
.loading .banner-01.img-only .slide.slick-active > img{transform:scale(1);}


/* Call to Action 01 */
.call-01{width:100%; padding:3rem 0 16rem 0;}
@media screen and (max-width:767.98px){
    .call-01{padding:2.5rem 0 15rem 0;}
}


/* Call to Action 02 */
.call-02{width:100%; position:relative; overflow:hidden; padding:4rem 0 0 0;}
.call-02 .subject{
    position:relative; display:block; width:280px; height:auto; margin:0 auto;
    transform:translateY(1rem);
}
.call-02 > .call-container{
    width:100%; padding:3rem 0; background-size:cover; background-position:center;
    background-repeat:no-repeat;
}
.call-02 .call-text{position:relative; margin:0; font-weight:300;}
.call-02 .call-text.title{font-size:3.125rem; line-height:1;}
.call-02 .call-text.desc{font-family:'TH Sarabun NEW'; font-size:1.5rem;}
.call-02 .call-text.desc.desc-lg{font-family:'TH Sarabun NEW'; font-size:2rem; line-height:1.1;}
.call-02 .slide-container{width:100%; margin:1.625rem 0 0 0;}
.call-02 .slide > .wrapper{padding:0 .375rem;}
.call-02 .slide-container{position:relative;}
.call-02 .slide-container .client{
    display:block; width:100%; height:50px; border-radius:1000em;
    background-size:cover; background-position:center;
}
.call-02 .slide-container .arrows{
    position:absolute; display:flex; justify-content:space-between; align-items:center;
    top:calc(50% - 1.25rem); left:-4rem; right:-4rem; padding:0 1rem; pointer-events:none;
}
.call-02 .slide-container  .arrows > .slick-prev, 
.call-02 .slide-container  .arrows > .slick-next{
    display:block; width:2.5rem; height:2.25rem; pointer-events:auto; cursor:pointer; opacity:1;
    text-align:center; line-height:2.25rem; outline:none; font-size:0; background:transparent;
    box-shadow:none; border:0; transition:opacity .3s, transform .3s; 
}
.call-02 .slide-container  .slide-container:hover .arrows > .slick-prev, 
.call-02 .slide-container  .slide-container:hover .arrows > .slick-next{opacity:.75;}
.call-02 .slide-container  .arrows > .slick-prev:hover, 
.call-02 .slide-container  .arrows > .slick-next:hover{opacity:1;}
.call-02 .slide-container  .arrows > .slick-prev::before, 
.call-02 .slide-container  .arrows > .slick-next::before{
    font-family:'Font Awesome 5 Free'; font-weight:900; font-size:1.5rem;
}
.call-02 .slide-container  .arrows > .slick-prev::before{content:'\f053';}
.call-02 .slide-container  .arrows > .slick-next::before{content:'\f054';}
.call-02 .input-group{width:100%; max-width:22rem; margin:0 auto 2rem auto;}
.call-02 .input-group > input{
    border-radius:1000em!important; font-size:1.125rem; text-align:center; z-index:2;
}
.call-02 .input-group > .input-group-append{margin-left:-1rem; z-index:1;}
.call-02 .input-group > .input-group-append > button{
    border-radius:0 1000em 1000em 0!important; padding-left:1.5rem;
}
@media screen and (max-width:767.98px){
    .call-02{padding:3rem 0 0 0;}
    .call-02 > .call-container{padding:3rem 0 2.5rem 0;}
}


/* Content 01 */
.content-01{width:100%;}
.content-01 > .content-header{width:100%; position:relative;}
.content-01 > .content-header::after{
    content:''; position:absolute; top:100%; left:0; right:0; height:3px; z-index:1;
}
.content-01 .content-tabs{width:100%; position:relative; display:flex; flex-wrap:wrap;}
.content-01 .content-tabs > .header > *, .content-01 .content-tabs > .tab > *{
    position:relative; margin:0; white-space:nowrap; transition:color .3s;
}
.content-01 .content-tabs > .header{padding:.625rem 4rem .5rem 0;}
.content-01 .content-tabs > .header > p{font-family:'TH Sarabun New';}
.content-01 .content-tabs > .tab{
    padding:.625rem .75rem 2rem .75rem; cursor:pointer; position:relative; width:7.5rem;
    transition:background .3s, width .3s;
}
.content-01 .content-tabs > .tab.active{width:11.5rem;}
.content-01 .content-tabs > .header > h3, .content-01 .content-tabs > .tab > h3{font-size:1.5rem;}
.content-01 .content-tabs > .tab > p{
    position:absolute; left:.75rem; right:.75rem; overflow:hidden; text-overflow:ellipsis;
    font-family:'TH Sarabun New'; font-size:1.125rem; opacity:0; transition:opacity .3s;
}
.content-01 .content-tabs > .tab.active > p{opacity:1;}
.content-01 .content-tabs > .tab h3::after{
    content:'\f054'; position:absolute; bottom:-1.125rem; right:-.25rem; line-height:1.125rem;
    font-family:'Font Awesome 5 Free'; width:1rem; height:1rem; border-radius:50%; font-weight:900;
    font-size:.5625rem; text-align:center; transition:background .3s, color .3s;
}
.content-01 .content-tabs > .tab::before{
    content:''; position:absolute; top:0; bottom:0; left:0; right:0; opacity:0; transition:opacity .3s;
}
.content-01 .content-tabs > .tab.active::before{opacity:1;}
.content-01 .content-tabs > .tab::after{
    content:''; position:absolute; bottom:0; left:0; right:0; height:.4375rem;
}
.content-01 > .contents{width:100%;}
.content-01 > .contents > .content{display:none; position:relative; width:100%; padding:2.625rem 0 0 0;}
.content-01 > .contents > .content.active{display:block;}
.content-01 .content > .img-bg-container{
    position:absolute; top:0; bottom:10rem; left:0; right:0;
    -webkit-mask-image:linear-gradient(to bottom, #000, #000, #000, #000, #000, #000,
        rgba(0,0,0,.6666), rgba(0,0,0,.3333), rgba(0,0,0,0));
}
.content-01 .content > .img-bg-container > .img-bg{
    width:100%; height:100%; background-size:cover; background-position:center;
}
.content-01 .content > .container{position:relative;}
.content-01 .content .tab-container{margin:6.5rem 0 0 0!important;}
@media screen and (max-width:991.98px){
    .content-01 .content .tab-container{margin:4.5rem 0 0 0!important;}
}
@media screen and (max-width:767.98px){
    .content-01 .content .tab-container{margin:3rem 0 0 0!important;}
}


/* Tab Container */
.tab-container{position:relative; display:block; width:100%; margin:2.5rem 0 0 0;}
.tab-container .tabs{
    position:relative; width:100%; display:flex; flex-wrap:wrap; margin:0;
    display:flex; justify-content:center;
}
.tab-container .tab{cursor:pointer;}
.tab-container .tab-contents{position:relative; width:100%;}
.tab-container .tab-content{display:none; position:relative; padding:0; margin:0; flex-wrap:wrap;}
.tab-container .tab-content.active{display:flex;}

/* Tab Container 01 */
.tab-container.tab-container-01 .tabs::before{
    content:''; position:absolute; bottom:-1px; left:calc(50% - 50vw); right:calc(50% - 50vw);
    height:.4375rem;
}
.tab-container.tab-container-01 .tab{
    width:20%; position:relative; line-height:1; padding:0; margin:1rem 0 0 0; opacity:1;
}
.tab-container.tab-container-01 .tab .icon{width:100%; height:3.5rem;}
.tab-container.tab-container-01 .tab .icon > img{
    display:block; width:auto; max-width:100%; height:auto; max-height:100%; margin:0 auto;
}
.tab-container.tab-container-01 .tab h5{
    display:block; position:relative; width:100%; margin:.5rem 0 0 0; height:calc(100% - 4rem);
    padding:.4375rem 1rem .625rem 1rem; border-radius:.25rem .25rem 0 0; overflow:hidden;
    transition:color .3s, background .3s;
}
.tab-container.tab-container-01 .tab h5 > *{position:relative;}
.tab-container.tab-container-01 .tab h5::before{
    content:''; position:absolute; top:0; bottom:0; left:0; right:0; opacity:0;
    background:url('../images/bg/21.jpg') center/cover no-repeat;
    transition:opacity .3s;
}
.tab-container.tab-container-01 .tab.active .text-container{color:#fff; background:#63337e;}
.tab-container.tab-container-01 .tab-content > .hero{
    position:relative; width:20%; background-size:cover; background-position:center;
    background-repeat:no-repeat;
}
.tab-container.tab-container-01 .tab-content > .contents{
    position:relative; width:80%; padding:0 0 0 1.5rem;
    box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; outline:none;
}
.tab-container.tab-container-01 .tab-content > .filter-bg{
    position:absolute; top:0; bottom:0; left:calc(50% - 50vw); right:calc(50% - 50vw);
    background-size:cover; background-position:center; background-repeat:no-repeat;
}
@media screen and (max-width:991.98px){
    .tab-container.tab-container-01 .tab h5{font-size:1.1875rem; padding:.4375rem .25rem .75rem .25rem;}
    .tab-container.tab-container-01 .tab-content > .hero{width:100%; height:0;}
    .tab-container.tab-container-01 .tab-content > .contents{width:100%; padding:0;}
}
@media screen and (max-width:767.98px){
    .tab-container.tab-container-01 .tab{width:calc(100% / 2);}
}

/* Tab Container 02 */
.tab-container.tab-container-02{margin:.5rem 0 0 0;}
.tab-container.tab-container-02 .tab{width:10rem; line-height:1; padding:0 .5rem; margin:1.5rem 0 0 0;}
.tab-container.tab-container-02 .tab .icon{
    width:100%; text-align:center; line-height:2.5rem; font-size:2.5rem; transition:color .3s;
}
.tab-container.tab-container-02 .tab h4{
    font-size:1.4375rem; margin:.375rem 0 0 0; font-weight:300;
    font-family:'TH Sarabun New';
}
.tab-container.tab-container-02 .tab-contents{margin:1.75rem 0 0 0;}
.tab-container.tab-container-02 .tab-content > .filter-bg{
    position:relative; width:100vw; height:240px; margin:0 calc(50% - 50vw);
    background-size:cover; background-position:center; background-repeat:no-repeat;
}
.tab-container.tab-container-02 .slide-container{
    position:relative; width:100%; margin:0;
    -webkit-mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #000, 
        #000, #000, #000, #000, #000, #000, #000, #000, #000, #000, #000,
        rgba(0,0,0,.8), rgba(0,0,0,.5), rgba(0,0,0,0));
}
.tab-container.tab-container-02 .post-card{padding-bottom:6.5rem; transition:background .3s;}
.tab-container.tab-container-02 .btns{
    border-top:1px solid transparent; border-bottom:1px solid transparent; transition:border-color .3s;
}
.tab-container.tab-container-02 .arrows{
    position:absolute; display:flex; justify-content:space-between; align-items:center;
    top:calc(50% - 6.25rem); left:-5rem; right:-5rem; padding:0 1rem; pointer-events:none;
}
.tab-container.tab-container-02 .arrows > .slick-prev, 
.tab-container.tab-container-02 .arrows > .slick-next{
    display:block; width:2.5rem; height:2.5rem; pointer-events:auto; cursor:pointer; opacity:1;
    text-align:center; line-height:2.75rem; outline:none; font-size:0; background:transparent;
    box-shadow:none; border:0; transition:opacity .3s, transform .3s; 
}
.tab-container.tab-container-02 .slide-container:hover .arrows > .slick-prev, 
.tab-container.tab-container-02 .slide-container:hover .arrows > .slick-next{opacity:.75;}
.tab-container.tab-container-02 .arrows > .slick-prev:hover, 
.tab-container.tab-container-02 .arrows > .slick-next:hover{opacity:1;}
.tab-container.tab-container-02 .arrows > .slick-prev::before, 
.tab-container.tab-container-02 .arrows > .slick-next::before{
    font-family:'Font Awesome 5 Free'; font-weight:900; font-size:2.5rem;
}
.tab-container.tab-container-02 .arrows > .slick-prev::before{content:'\f053';}
.tab-container.tab-container-02 .arrows > .slick-next::before{content:'\f054';}
@media screen and (max-width:991.98px){
    .tab-container.tab-container-02 .arrows{left:-3.5rem; right:-3.5rem;}
}
@media screen and (max-width:575.98px){
    .tab-container.tab-container-02 .arrows{left:-2.5rem; right:-2.5rem;}
    .tab-container.tab-container-02 .arrows > .slick-prev::before, 
    .tab-container.tab-container-02 .arrows > .slick-next::before{font-size:1.75rem;}
}

/* Tab Container 03 */
.tab-container.tab-container-03 .tabs{justify-content:flex-start;}
.tab-container.tab-container-03 .tab{
    padding:.625rem 1rem; border-right:1px solid transparent; transition:background .3s;
    display:flex; align-items:center;
}
.tab-container.tab-container-03 .tab > h4{font-weight:300; margin:0; white-space:nowrap;}
.tab-container.tab-container-03 .tab > .icon{
    display:block; width:1.5rem; height:1.5rem; border-radius:50%; text-align:center;
    line-height:1.75rem; font-size:.9375rem; margin:0 .5rem 0 0;
    transition:color .3s, background .3s;
}
.tab-container.tab-container-03 .tab-contents .grids{
    -webkit-mask-image:linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, 
        #000, #000, #000, #000, #000, #000, #000, #000, #000, #000, #000, 
        rgba(0,0,0,.5), rgba(0,0,0,0));
}
.tab-container.tab-container-03 .tab-content .grid{padding:1.75rem 1.5rem 2.25rem 1.5rem;}
