
/* Reset */
html, body, a, a:hover, table.table{color:#2b2b2a;}


/* Colors */
.color-white{color:#ffffff!important;}
.color-black{color:#000000!important;}
.color-gray, .h-color-gray:hover{color:#666666!important;}
.color-mgray, .h-color-mgray:hover{color:#c6c6c6!important;}
.color-sgray, .h-color-sgray:hover{color:#e1e1e1!important;}
.color-01, .h-color-01:hover{color:#fe4d01!important;}
.color-02, .h-color-02:hover{color:#ffb739!important;}

.bg-white{background:#ffffff!important;}
.bg-black{background:#000000!important;}
.bg-gray{background:#666666!important;}
.bg-sgray{background:#c6c6c6!important;}
.bg-mgray{background:#e1e1e1!important;}
.bg-01{background:#fe4d01!important;}
.bg-02{background:#ffb739!important;}

.bcolor-white{border-color:#ffffff!important;}
.bcolor-black{border-color:#000000!important;}
.bcolor-gray{border-color:#666666!important;}
.bcolor-mgray{border-color:#c6c6c6!important;}
.bcolor-sgray{border-color:#e1e1e1!important;}
.bcolor-01{border-color:#fe4d01!important;}
.bcolor-02{border-color:#ffb739!important;}


/* Buttons */
.btn.btn-color-01, .btn.btn-color-01:focus{color:#ffffff; background:#fe4d01;}
.btn.btn-color-01:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);}
.btn.btn-color-01:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-color-02, .btn.btn-color-02:focus{color:#ffffff; background:#a7a7a7;}
.btn.btn-color-02:hover{background:#fe4d01;}
.btn.btn-color-02:active{background:#fe4d01; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);}

.btn.btn-color-03, .btn.btn-color-03:focus{color:#ffffff; background:#ffb739;}
.btn.btn-color-03:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);}
.btn.btn-color-03:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-social.fw{background:#3b56a3; color:#ffffff;}
.btn.btn-social.tw{background:#05b0f6; color:#ffffff;}
.btn.btn-social.ln{background:#00c600; color:#ffffff;}
.btn.btn-social:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}
.btn.btn-social:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.20);}


/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea{
    color:#000000; background:#ffffff; border-color:#e1e1e1;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, 
input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, 
input[type=phone]:focus, input[type=submit]:focus, select:focus, textarea:focus{
    border-color:#fe4d01;
}

/* Input Wrapper */
.select-wrapper::after, .search-wrapper::after{color:#fe4d01;}

/* Input Form Group */
.form-group label{color:#000000;}
.form-check > label{color:#666666;}


/* List Header */
.list-header .option{color:#fe4d01; background:#ffffff; border-color:#e1e1e1;}
.list-header .option:hover, .list-header .option.active{
    color:#ffffff; background:#fe4d01; border-color:#fe4d01;
}


/* Pagination */
.pagination .page-btn{color:#fe4d01; border-color:#e1e1e1; background:#ffffff;}
.pagination .page-btn:hover, .pagination .page-btn.active{
    border-color:#fe4d01; background:#fe4d01!important; color:#ffffff;
}
.pagination .page-btn.page-first, .pagination .page-btn.page-prev, .pagination .page-btn.page-next,
.pagination .page-btn.page-last{color:#ffffff; background:#e1e1e1;}


/* Popup */
.popup-container .popup-box > .content-container{background:#ffffff;}
.popup-container .popup-box > .btn-close{background:#cd0101; color:#ffffff;}
.popup-container .popup-box > .btn-close:hover{background:#fe4d01;}


/* Post Stat */
.post-stat .stat{color:#000000;}
.post-stat .stat em{color:#ffffff; background:#fe4d01;}


/* Special Card */
.ss-card .text-container .title{color:#000000;}
.ss-card .text-container .desc{color:#666666;}

/* Special Card 01 */
.ss-card-01 .icon-container .icon{background:#fe4d01; color:#ffffff;}
.ss-card-01:hover .text-container .title{color:#fe4d01;}

/* Special Card 02 */
.ss-card-02 .text-container{background:#f2f2f2;}
.ss-card-02:hover .text-container{background:#fe4d01;}
.ss-card-02 .text-container .arrow{color:#fe4d01;}
.ss-card-02:hover .text-container .title, .ss-card-02:hover .text-container .desc,
.ss-card-02:hover .text-container .ss-stat .stat,
.ss-card-02:hover  .text-container .arrow{color:#ffffff;}

/* Special Card 03 */
.ss-card-03 .text-container{background:#f2f2f2;}
.ss-card-03:hover .text-container{background:#fe4d01;}
.ss-card-03:hover .text-container .title{color:#ffffff;}


/* Special Icon Title */
.ss-icon-title > em{background:#fe4d01; color:#ffffff;}


/* Special Image */
.ss-img .hover-container{background:rgba(255,77,1,.5);}


/* Special Stat */
.ss-stat .stat{color:#2a2a2a;}

/* Special Tag */
.ss-tag{background:#999999; color:#ffffff;}
.ss-tag:hover{background:#fe4d01;}


/* Table */
table.table td{border-color:#e1e1e1;}
table.table .sep{background:#cccccc;}


/* Toggle Target */
.toggle-target{background:#ffffff; border-color:#e1e1e1;}


/* Faq 01 */
.faq-01 .faq > .question{background:#f1f1f1; border-color:#e1e1e1;}
.faq-01 .faq.active > .question{background:#fe4d01; border-color:#fe4d01;}
.faq-01 .faq > .question h6{color:#000000;}
.faq-01 .faq.active > .question h6{color:#ffffff;}
.faq-01 .faq > .question .ftag{background:#fe4d01; color:#ffffff;}
.faq-01 .faq.active > .question .ftag{background:#993300;}
.faq-01 .faq > .question .arrow{background:#a0aec1;}
.faq-01 .faq.active > .question .arrow{background:#993300;}
.faq-01 .faq .arrow::before, .faq-01 .faq .arrow::after{background:#ffffff;}
.faq-01 .faq > .answer .ftag{background:#ffb739; color:#ffffff;}
.faq-01 .faq > .answer .content{background:#f1f1f1;}


/* Org 01 */
.org-01 .node, .org-01 .node a{color:#ffffff;}
.org-01 .node::before, .org-01 .node::after{background:#333333;}
.org-01 .node .node-title{border-color:#ffffff;}
.org-01 .node .child{background:#ffffff;}
.org-01 .node.root > .node-container{background:#333333;}
.org-01 .node.node-01 .node-title::before, .org-01 .node.node-01 .children, 
.org-01 .node.node-01 .child > *{background:#627894;}
.org-01 .node.node-01 > .node-container, 
.org-01 .node.node-01 .child:hover > *{background:#445467;}
.org-01 .node.node-02 .node-title::before, .org-01 .node.node-02 .children, 
.org-01 .node.node-02 .child > *{background:#a0aec1;}
.org-01 .node.node-02 > .node-container, 
.org-01 .node.node-02 .child:hover > *{background:#707987;}
.org-01 .node.node-03 .node-title::before, .org-01 .node.node-03 .children, 
.org-01 .node.node-03 .child > *{background:#ffb739;}
.org-01 .node.node-03 > .node-container, 
.org-01 .node.node-03 .child:hover > *{background:#b28028;}
.org-01 .node.node-04 .node-title::before, .org-01 .node.node-04 .children, 
.org-01 .node.node-04 .child > *{background:#fe4d01;}
.org-01 .node.node-04 > .node-container, 
.org-01 .node.node-04 .child:hover > *{background:#b13601;}


/* Sitemap 01 */
.sitemap-01 .grid, .sitemap-01 .sitemap > .header, .sitemap-01 .sitemap a,
.sitemap-01 .sitemap li > ul{border-color:#e1e1e1;}
.sitemap-01 .sitemap a:hover{color:#fe4d01;}
.sitemap-01 .sitemap li > ul > li::before{background:#fe4d01;}


/* Tab Container - Tabs 01 */
.tab-container .tabs.tabs-01 .tab{color:#b6b6b6;}
.tab-container .tabs.tabs-01 .tab:hover, .tab-container .tabs.tabs-01 .tab.active{color:#fe4d01;}
.tab-container .tabs.tabs-01 .tab::before{background:#e1e1e1;}
.tab-container .tabs.tabs-01 .tab::after{background:#fe4d01;}
