
/* Reset */
html, body{color:#000;}


/* Colors */
.color-white{color:#fff!important;}
.color-black{color:#fff!important;}
.color-sgray{color:#f3f3f3!important;}
.color-01{color:#422754!important;}
.color-02{color:#59236e!important;}
.color-03{color:#8e5e9c!important;}
.color-04{color:#ba41ce!important;}
.color-05{color:#b15fc8!important;}

.bg-color-white{background:#fff!important;}
.bg-color-black{background:#fff!important;}
.bg-color-sgray{background:#f3f3f3!important;}
.bg-color-gray{background:#e9e9e9!important;}
.bg-color-01{background:#422754!important;}
.bg-color-02{background:#59236e!important;}
.bg-color-03{background:#8e5e9c!important;}
.bg-color-04{background:#ba41ce!important;}
.bg-color-05{background:#b15fc8!important;}


/* Topnav */
nav.topnav .menu > .submenu-dropdown{background:#33254f;}
nav.topnav .submenu-container{background:#fff;}
nav.topnav .submenu-container > .submenu > a, nav.topnav .submenu-level2 > .submenu > a{color:#000;}
nav.topnav .submenu-container > .submenu:hover > a{color:#fff; background:#622a6f;}
nav.topnav .submenu-level2 > .submenu > a{color:#fff;}
nav.topnav .submenu-level2 > .submenu:hover > a{color:#f1d13d;}
nav.topnav .menu-mobile .hamburger > *{background:#fff;}


/* Sidenav */
nav.sidenav{background:#fff;}
nav.sidenav .sidenav-btn{border-color:#ebebeb;}
nav.sidenav .sidenav-btn .hamburger > *{background:#000;}
nav.sidenav .options > .option, nav.sidenav .scroll-wrapper{border-color:#ebebeb;}
nav.sidenav .option > .dropdown{background:#fff;}
nav.sidenav .option > .dropdown > *{border-color:#ebebeb!important;}
nav.sidenav .option > .icon{color:#000;}
nav.sidenav .menu > a{color:#000; border-color:#ebebeb;}
nav.sidenav .menu:hover > a{color:#622a6f;}
nav.sidenav .menu > .dropdown-toggle{color:#363636;}
nav.sidenav .menu:hover > .dropdown-toggle > i{color:#622a6f;}
nav.sidenav .menu.has-children > a::after{background:#ebebeb;}
nav.sidenav .submenu > a{background:#622a6f; color:#fff; border-color:rgba(255,255,255,.25);}
nav.sidenav .submenu:hover > a{background:#88009b;}
nav.sidenav .submenu > .dropdown-toggle{color:#fff;}
nav.sidenav .submenu.has-children > a::after{background:rgba(255,255,255,.25);}
nav.sidenav .submenu-level2 > .submenu > a{
    background:#a580af; color:#fff; border-color:rgba(255,255,255,.25);
}
nav.sidenav .submenu-level2 > .submenu:hover > a{background:#622a6f;}


/* Footer */
nav.footer > .footer-top{background:#6d2b6b;}
nav.footer .block{border-color:#936291;}
nav.footer .block h4{color:#fff;}
nav.footer .ss-list > li, nav.footer .ss-list > li > a{color:#fff;}
nav.footer .ss-list > li > a:hover{color:#f9b025;}
nav.footer > .footer-bottom{background:#fff;}
nav.footer > .footer-bottom .wrapper > p{color:#000;}
nav.footer > .footer-bottom .wrapper > .count-area{background:#1f1e1e; color:#fff;}

nav.footer.footer-gray > .footer-top{background:#c8c8c8;}
nav.footer.footer-gray .block{border-color:#949494;}
nav.footer.footer-gray .block h4{color:#262526; font-weight:400;}
nav.footer.footer-gray .ss-list > li, nav.footer.footer-gray .ss-list > li > a{color:#262526;}
nav.footer.footer-gray .ss-list > li > a:hover{color:#1f9ad3;}


/* Global Search */
.global-search-container .hamburger > *{background:#fff;}


/* Back to Top */
.back-to-top{background:rgba(109,43,107,.85); color:#fff!important; border-color:#fff;}


/* Button */
.btn.custom-btn-primary, .btn.custom-btn-primary:focus{background:#622a6f; color:#fff;}
.btn.custom-btn-primary:hover{background:#88009b; color:#fff;}
.btn.custom-btn-primary:active{
    background:#88009b; color:#fff; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);
}
.btn.custom-btn-primary > i{color:#dbb84b;}

.btn.custom-btn-secondary, .btn.custom-btn-secondary:focus{background:#a580af; color:#fff;}
.btn.custom-btn-secondary:hover{background:#622a6f; color:#fff;}
.btn.custom-btn-secondary:active{
    background:#622a6f; color:#fff; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);
}
.btn.custom-btn-secondary > i{color:#fffefd;}
.btn.custom-btn-secondary:hover > i, .btn.custom-btn-secondary:active > i{color:#dbb84b;}

.btn.custom-btn-tertiary, .btn.custom-btn-tertiary:focus{background:#9d50ba; color:#fff;}
.btn.custom-btn-tertiary:hover{background:#622a6f; color:#fff;}
.btn.custom-btn-tertiary:active{
    background:#622a6f; color:#fff; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);
}
.btn.custom-btn-tertiary > i{color:#fffefd;}
.btn.custom-btn-tertiary:hover > i, .btn.custom-btn-tertiary:active > i{color:#dbb84b;}

.btn.custom-btn-warning, .btn.custom-btn-warning:focus{background:#dbaf37; color:#fff;}
.btn.custom-btn-warning:hover{
    background:#dbaf37; color:#fff; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);
}
.btn.custom-btn-warning:active{
    background:#dbaf37; color:#fff; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);
}
.btn.custom-btn-warning > i{color:#622a6f;}

.btn.custom-btn-dark, .btn.custom-btn-dark:focus{background:#393939; color:#fff;}
.btn.custom-btn-dark:hover{
    background:#393939; color:#fff; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);
}
.btn.custom-btn-dark:active{
    background:#393939; color:#fff; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);
}
.btn.custom-btn-dark > i{color:#fff;}

.btn-action.btn-action-primary{color:#343a40;}
.btn-action.btn-action-primary:hover{color:#88009b;}
.btn-action.btn-action-primary > i{background:#88009b; color:#fff;}
.btn-action.btn-action-dark{color:#343a40;}
.btn-action.btn-action-dark:hover{color:#88009b;}
.btn-action.btn-action-dark > i{background:#343a40; color:#fff;}
.btn-action.btn-action-white{color:#fff;}
.btn-action.btn-action-white:hover{color:#f1d13d;}
.btn-action.btn-action-white > i{background:#fff; color:#343a40;}


/* Pagination */
.pagination .page-btn{color:#000; border-color:#c0bfbf; background:#fff;}
.pagination .page-btn:hover, .pagination .page-btn.active{
    border-color:#6a0e7e; background:#6a0e7e!important; color:#fff;
}
.pagination .page-btn.page-first, .pagination .page-btn.page-prev, .pagination .page-btn.page-next,
.pagination .page-btn.page-last{color:#fff; background:#c0bfbf;}


/* Post Card */
.post-card > .title-container > .title{color:#000;}
.post-card > .title-container > .title:hover{color:#88009b;}
.post-card .title-container > .by, .post-card .desc{color:#343a40;}
.post-card.post-card-02{color:#fff;}
.post-card.post-card-02 .title-container > .title{color:#fff;}
.post-card.post-card-02 .title-container > .title:hover{color:#f1d13d;}
.post-card.post-card-04 .title-container > .title::before{background:#88009b;}
.post-card.post-card-04 .date{color:#88009b;}


/* Special List */
.ss-list > li:before{background:#d479f6;}
.ss-list > li > .ss-list > li:before{background:#8bb8cb;}


/* Table */
table.table, table.table td{border-color:#bcbcbc;}
table.table tbody td{background:#ebebeb; color:#000;}
table.table tbody tr:nth-child(even) > td{background:#f3f3f3;}
table.table .icon{color:#000;}
table.table .icon:hover{color:#8e5e9c;}


/* Special Image & Video */
.ss-img .tag, .ss-video .tag{color:#fff;}


/* Banner 01 */
.banner-01 .dots{background:rgba(85,43,116,.65);}
.banner-01 .dots button{background:#fff;}
.banner-01 .dots button:before{border:1px solid #fff;}
.banner-01 .arrows > .slick-prev::before, .banner-01 .arrows > .slick-next::before{color:#fff;}
.banner-01 .slick-dots > li > .desc{background:#fff; color:#000;}


/* Call to Action 02 */
.call-02 .call-text{
    -webkit-background-clip:text; -webkit-text-fill-color:transparent;
    background-image:linear-gradient(to right,#d2bf73,#ddc256,#bb8a42,#f4efe7,
        #cfa74d, #ddc256, #d1ae65);
}
.call-02 .slide-container .client{box-shadow:0px 0px 10px 0px rgba(82,63,105,.75);}
.call-02 .slide-container  .arrows > .slick-prev::before, 
.call-02 .slide-container  .arrows > .slick-next::before{color:#fff;}


/* Content 01 */
.content-01 > .content-header::after{
    background-image:linear-gradient(to right,#d2bf73,#ddc256,#e7d181,#bb8932,#bb8a42,#f4efe7,
        #cfa74d, #ddc256, #d1ae65);
}
.content-01 > .content-header{background:#2f1844;}
.content-01 .content-tabs > .tab:nth-child(7n+2){background:#551a79;}
.content-01 .content-tabs > .tab:nth-child(7n+3){background:#a7ae31;}
.content-01 .content-tabs > .tab:nth-child(7n+4){background:#bb4eaa;}
.content-01 .content-tabs > .tab:nth-child(7n+5){background:#eeab37;}
.content-01 .content-tabs > .tab:nth-child(7n+6){background:#17397f;}
.content-01 .content-tabs > .tab:nth-child(7n){background:#26a6dc;}
.content-01 .content-tabs > .tab{box-shadow:0px 0px 20px 0px rgba(82,63,105,.4);}
.content-01 .content-tabs > .header > *, .content-01 .content-tabs > .tab > *{color:#fff;}
.content-01 .content-tabs > .tab::before{background:url('../images/bg/08.png') center/cover no-repeat;}
.content-01 .content-tabs > .tab::after{background:rgba(0,0,0,.2);}
.content-01 .content-tabs > .tab h3::after{color:#393a39; background:#fff;}


/* Tab Container 01 */
.tab-container.tab-container-01 .tabs::before{
    background-image:linear-gradient(to right, #548abf, #4ba4cd, #5d6daf, #63337e, #6d3e96, 
        #5f68ac, #5c70b1, #5781ba, #42c1dc, #41c3dd);
}
.tab-container.tab-container-01 .tab:hover h5{color:#88009b;}
.tab-container.tab-container-01 .tab.active h5{color:#fff; background:#88009b;}
.tab-container.tab-container-01 .tab.active h5::before{opacity:1;}

/* Tab Container 02 */
.tab-container.tab-container-02 .tab .icon{color:#5f5f5f;}
.tab-container.tab-container-02 .tab:hover .icon,
.tab-container.tab-container-02 .tab.active .icon{color:#904aa1;}
.tab-container.tab-container-02 .tab.active h4{font-weight:600;}
.tab-container.tab-container-02 .btns{border-color:#383737;}
.tab-container.tab-container-02 .arrows > .slick-prev, 
.tab-container.tab-container-02 .arrows > .slick-next{color:#383737;}
.tab-container.tab-container-02 .slide .post-card{background:#fff;}
@media screen and (min-width:768px){
    .tab-container.tab-container-02 .slide.slick-current .post-card{background:#383737;}
    .tab-container.tab-container-02 .slide.slick-current .post-card *{color:#fff!important;}
    .tab-container.tab-container-02 .slide.slick-current .post-card .date{color:#8e5e9c!important;}
    .tab-container.tab-container-02 .slide.slick-current .btns{border-color:#fff;}
    .tab-container.tab-container-02 .slide.slick-current .btn-action > i{
        background:#8e5e9c!important; color:#fff!important;
    }
}

/* Tab Container 04 */
.tab-container.tab-container-03 .tabs{
    background:#371d4f; box-shadow:0px 0px 30px 0px rgba(82,63,105,.7);
}
.tab-container.tab-container-03 .tab{border-color:#887a97; color:#fff;}
.tab-container.tab-container-03 .tab:hover,
.tab-container.tab-container-03 .tab.active{background:#4e1669;}
.tab-container.tab-container-03 .tab > .icon{background:#fff; color:#404040;}
.tab-container.tab-container-03 .tab.active > .icon{color:#4e1669;}
.tab-container.tab-container-03 .tab-contents .grids{
    background:#fff; box-shadow:0px 0px 30px 0px rgba(82,63,105,.7);
}
