
/* Reset */
html, body{background:#000000;}
html, body, a, a:hover{color:#ffffff;}


/* Colors */
.color-white, .color-black, 
.color-gray, .h-color-gray:hover 
.color-sgray, .h-color-sgray:hover 
.color-01, .h-color-01:hover{color:#ffffff!important;}

.bg-white, .bg-black, .bg-gray, .bg-sgray, 
.bg-01{background:#000000!important;}

.bcolor-white, .bcolor-black, .bcolor-gray, .bcolor-sgray, 
.bcolor-01{border-color:#ffffff!important;}


/* Sitemap 01 */
.sitemap-01 .grid, .sitemap-01 .sitemap > .header, .sitemap-01 .sitemap a,
.sitemap-01 .sitemap li > ul{border-color:#ffffff;}
.sitemap-01 .sitemap li > ul > li::before{background:#ffffff;}
