
/* Reset */
html, body, a, a:hover{color:#2b2b2a;}


/* Colors */
.color-white{color:#ffffff!important;}
.color-black{color:#000000!important;}
.color-gray, .h-color-gray:hover{color:#444444!important;}
.color-sgray, .h-color-sgray:hover{color:#e1e1e1!important;}
.color-01, .h-color-01:hover{color:#fe4d01!important;}

.bg-white{background:#ffffff!important;}
.bg-black{background:#000000!important;}
.bg-gray{background:#444444!important;}
.bg-sgray{background:#e1e1e1!important;}
.bg-01{background:#fe4d01!important;}

.bcolor-white{border-color:#ffffff!important;}
.bcolor-black{border-color:#000000!important;}
.bcolor-gray{border-color:#444444!important;}
.bcolor-sgray{border-color:#e1e1e1!important;}
.bcolor-01{border-color:#fe4d01!important;}


/* Sitemap 01 */
.sitemap-01 .grid, .sitemap-01 .sitemap > .header, .sitemap-01 .sitemap a,
.sitemap-01 .sitemap li > ul{border-color:#e1e1e1;}
.sitemap-01 .sitemap a:hover{color:#fe4d01;}
.sitemap-01 .sitemap li > ul > li::before{background:#fe4d01;}
