
/* Reset */
html, body{color:#ffff00; background:#000;}


/* Colors */
.color-white, .color-black, .color-sgray, .color-01, .color-02, .color-03, 
.color-04{color:#ffff00!important;}
.bg-color-white, .bg-color-black, .bg-color-sgray, .bg-color-gray, 
.bg-color-01, .bg-color-02, .bg-color-03, .bg-color-04{background:#000!important;}


/* Topnav */
nav.topnav > .top-container{background:#000!important;}
nav.topnav .menu > .submenu-dropdown{
    background:#000; border-top:1px solid #ffff00; border-bottom:1px solid #ffff00;
}
nav.topnav .submenu-container{background:#000; border-right:1px solid #ffff00;}
nav.topnav .submenu-container > .submenu > a, nav.topnav .submenu-level2 > .submenu > a{color:#ffff00;}
nav.topnav .submenu-container > .submenu:hover > a{color:#000; background:#ffff00;}
nav.topnav .submenu-level2 > .submenu > a{color:#ffff00;}
nav.topnav .submenu-level2 > .submenu:hover > a{color:#ffff00;}
nav.topnav .menu-mobile .hamburger > *{background:#ffff00;}


/* Sidenav */
nav.sidenav{background:#000;}
nav.sidenav .sidenav-btn{border-color:#ffff00;}
nav.sidenav .sidenav-btn .hamburger > *{background:#ffff00;}
nav.sidenav .options > .option, nav.sidenav .scroll-wrapper{border-color:#ffff00;}
nav.sidenav .option > .dropdown{background:#000;}
nav.sidenav .option > .dropdown > *{border-color:#ffff00!important; color:#ffff00;}
nav.sidenav .option > .icon{color:#ffff00;}
nav.sidenav .menu > a{color:#ffff00; border-color:#ffff00;}
nav.sidenav .menu > .dropdown-toggle{color:#ffff00;}
nav.sidenav .menu.has-children > a::after{background:#ffff00;}
nav.sidenav .submenu > a{background:#000; color:#ffff00; border-color:#ffff00;}
nav.sidenav .submenu > .dropdown-toggle{color:#ffff00;}
nav.sidenav .submenu.has-children > a::after{background:#000;}
nav.sidenav .submenu-level2 > .submenu > a{background:#000; color:#ffff00; border-color:#ffff00;}


/* Footer */
nav.footer > .footer-top{
    background:#000; border-top:1px solid #ffff00; border-bottom:1px solid #ffff00;
}
nav.footer .block{border-color:#ffff00;}
nav.footer .block h4{color:#ffff00;}
nav.footer .ss-list > li, nav.footer .ss-list > li > a{color:#ffff00;}
nav.footer .ss-list > li > a:hover{color:#fff;}
nav.footer > .footer-bottom{background:#000;}
nav.footer > .footer-bottom .wrapper > p{color:#ffff00;}
nav.footer > .footer-bottom .wrapper > .count-area{background:#ffff00; color:#000;}


/* Global Search */
.global-search-container .hamburger > *{background:#ffff00;}


/* Back to Top */
.back-to-top{background:#000; color:#ffff00!important; border-color:#ffff00;}


/* Button */
.btn.custom-btn-primary, .btn.custom-btn-primary:focus,
.btn.custom-btn-secondary, .btn.custom-btn-secondary:focus,
.btn.custom-btn-tertiary, .btn.custom-btn-tertiary:focus,
.btn.custom-btn-warning, .btn.custom-btn-warning:focus,
.btn.custom-btn-dark, .btn.custom-btn-dark:focus{
    background:#ffff00; color:#000;
}
.btn.custom-btn-primary:hover, 
.btn.custom-btn-secondary:hover,
.btn.custom-btn-tertiary:hover,
.btn.custom-btn-warning:hover,
.btn.custom-btn-dark:hover{
    background:#ffff00; color:#000; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);
}
.btn.custom-btn-primary:active, 
.btn.custom-btn-secondary:active,
.btn.custom-btn-tertiary:active,
.btn.custom-btn-warning:active,
.btn.custom-btn-dark:active{
    background:#ffff00; color:#000; box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);
}
.btn.custom-btn-primary > i, 
.btn.custom-btn-secondary > i,
.btn.custom-btn-tertiary > i,
.btn.custom-btn-warning > i,
.btn.custom-btn-dark > i{
    color:#ffff00;
}
.btn.custom-btn-theme-0, .btn.custom-btn-theme-1, .btn.custom-btn-theme-2{border:1px solid #ffff00;}

.btn-action.btn-action-primary,
.btn-action.btn-action-dark{
    color:#ffff00;
}
.btn-action.btn-action-primary > i,
.btn-action.btn-action-dark > i{
    background:#ffff00; color:#000;
}


/* Pagination */
.pagination .page-btn{color:#ffff00; border-color:#ffff00;}
.pagination .page-btn:hover, .pagination .page-btn.active{
    border-color:#ffff00; background:#ffff00!important; color:#000;
}


/* Post Card */
.post-card > .title-container > .title{color:#ffff00;}
.post-card.post-card-04 .title-container > .title::before{background:#ffff00;}


/* Special List */
.ss-list > li:before{background:#ffff00;}
.ss-list > li > .ss-list > li:before{background:#ffff00;}


/* Table */
table.table, table.table td{border-color:#ffff00;}
table.table tbody td{color:#ffff00;}
table.table .icon{color:#ffff00;}


/* Special Image & Video */
.ss-img .tag, .ss-video .tag{color:#ffff00;}


/* Banner 01 */
.banner-01 .dots{background:rgba(0,0,0,.6); border-bottom:1px solid #ffff00;}
.banner-01 .dots button{background:#ffff00;}
.banner-01 .dots button:before{border:1px solid #ffff00;}
.banner-01 .arrows > .slick-prev::before, .banner-01 .arrows > .slick-next::before{color:#ffff00;}
.banner-01 .slick-dots > li > .desc{background:#000; color:#ffff00; border:1px solid #ffff00;}


/* Call to Action 02 */
.call-02 > .call-container{background:transparent!important;}
.call-02 .slide-container  .arrows > .slick-prev::before, 
.call-02 .slide-container  .arrows > .slick-next::before{color:#ffff00;}


/* Content 01 */
.content-01{border-top:1px solid #ffff00;}
.content-01 > .content-header::after{background:#ffff00;}
.content-01 .content-tabs > .tab{border:1px solid #ffff00;}
.content-01 .content-tabs > .tab.active{background:#ffff00;}
.content-01 .content-tabs > .tab::after{color:#000; background:#ffff00;}
.content-01 .content-tabs > .tab.active::after{color:#ffff00; background:#000;}
.content-01 .content-tabs > .header > *, .content-01 .content-tabs > .tab > *{color:#ffff00;}
.content-01 .content-tabs > .tab.active > *{color:#000;}


/* Tab Container 01 */
.tab-container.tab-container-01 .tabs::before{background:#ffff00;}
.tab-container.tab-container-01 .tab.active h5{color:#000; background:#ffff00;}
.tab-container.tab-container-01 .tab.active h5::before{opacity:1; background:#ffff00!important;}

/* Tab Container 02 */
.tab-container.tab-container-02 .tab .icon{color:#ffff00;}
.tab-container.tab-container-02 .tab.active h4{font-weight:600;}
.tab-container.tab-container-02 .btns{border-color:#ffff00;}
.tab-container.tab-container-02 .arrows > .slick-prev, 
.tab-container.tab-container-02 .arrows > .slick-next{color:#ffff00;}
@media screen and (min-width:768px){
    .tab-container.tab-container-02 .slide.slick-current .post-card{background:#ffff00;}
    .tab-container.tab-container-02 .slide.slick-current .post-card *{color:#000!important;}
    .tab-container.tab-container-02 .slide.slick-current .btns{border-color:#000;}
    .tab-container.tab-container-02 .slide.slick-current .btn-action > i{
        background:#000!important; color:#ffff00!important;
    }
}

/* Tab Container 04 */
.tab-container.tab-container-03 .tabs{border:1px solid #ffff00; background:#000;}
.tab-container.tab-container-03 .tab{border-color:#ffff00; color:#ffff00;}
.tab-container.tab-container-03 .tab:hover,
.tab-container.tab-container-03 .tab.active{background:#ffff00; color:#000;}
.tab-container.tab-container-03 .tab > .icon{background:#ffff00; color:#000;}
.tab-container.tab-container-03 .tab.active > .icon{background:#000; color:#ffff00;}
.tab-container.tab-container-03 .tab-contents{border:1px solid #ffff00; background:#000;}
