
/* Reset */
html, body{background:#000000;}
html, body, a, a:hover, table.table{color:#ffffff;}


/* Colors */
.color-white, .color-black, 
.color-gray, .h-color-gray:hover, 
.color-bgray, .h-color-bgray:hover, 
.color-mgray, .h-color-mgray:hover, 
.color-sgray, .h-color-sgray:hover,
.color-fgray, .h-color-fgray:hover,
.color-01, .h-color-01:hover,
.color-02, .h-color-02:hover,
.color-03, .h-color-03:hover,
.color-04, .h-color-04:hover,
.color-05, .h-color-05:hover,
.color-06, .h-color-06:hover,
.color-07, .h-color-07:hover,
.color-08, .h-color-08:hover,
.color-09, .h-color-09:hover{color:#ffffff!important;}

.bg-white, .bg-black, .bg-gray, .bg-bgray, .bg-mgray, .bg-sgray, .bg-fgray,
.bg-01, .bg-02, .bg-03, .bg-04, .bg-05, .bg-06, .bg-07, .bg-08,
.bg-09{background:#000000!important;}

.bcolor-white, .bcolor-black, .bcolor-gray, .bcolor-bgray, 
.bcolor-mgray, .bcolor-sgray, .bcolor-fgray, 
.bcolor-01, .bcolor-02, .bcolor-03, .bcolor-04, .bcolor-05, 
.bcolor-06, .bcolor-07, .bcolor-08, .bcolor-09{border-color:#ffffff!important;}


/* Topnav */
nav.topnav{background:#000000; border-bottom:1px solid #ffffff;}
nav.topnav .logo{background:#fe4d01;}
nav.topnav .logo:hover{background:#993300;}
nav.topnav .menu > a{color:#ffffff; border-color:#ffffff;}
nav.topnav .menu:hover > a, nav.topnav .menu.active > a{background:#ffffff; color:#000000;}
nav.topnav .option{background:#000000; color:#ffffff; border-color:#ffffff;}
nav.topnav .option:hover{background:#ffffff; color:#000000;}
nav.topnav .hamburger > *{background:#ffffff;}
nav.topnav .option:hover .hamburger > *{background:#000000;}

/* Topnav Option */
.topnav-option{background:#000000!important; border-bottom:1px solid #ffffff;}
.topnav-option .text{color:#ffffff;}
.topnav-option .btn.btn-circle, .topnav-option .btn.btn-circle:focus,
.topnav-option .btn.btn-circle:hover, .topnav-option .btn.btn-circle:active,
.topnav-option .btn.font-size-btn, .topnav-option .btn.theme-btn{
    background:#ffffff; color:#000000;
}
.topnav-option .flag-wrapper{background:#ffffff; color:#000000;}
.topnav-option .flag-wrapper > .text{color:#000000;}
.topnav-option .dropdown{background:#ffffff; border:1px solid #ffffff;}
.topnav-option .btn.theme-btn{border:1px solid #ffffff;}
.topnav-option .btn.theme-btn[data-theme="0"]{background:#ffffff; color:#000000;}
.topnav-option .btn.theme-btn[data-theme="1"]{background:#000000; color:#ffff00;}
.topnav-option .btn.theme-btn[data-theme="2"]{background:#000000; color:#00ffff;}

/* Topnav Dropdown */
.topnav-dropdown .btn-container{background:#ffffff;}
.topnav-dropdown .hamburger > *{background:#000000;}
.topnav-dropdown .content-container{background:#000000; border:1px solid #ffffff;}

/* Sidenav */
nav.sidenav{background:#000000; border-left:1px solid #ffffff;}
nav.sidenav .hamburger > *{background:#ffffff;}
nav.sidenav .sidenav-toggle, nav.sidenav .options, nav.sidenav .options > .option, 
nav.sidenav .option > .dropdown, nav.sidenav .option > .dropdown > *, 
nav.sidenav .scroll-wrapper, nav.sidenav .menu > a{border-color:#ffffff;}
nav.sidenav .submenu > a{border-color:#000000;}
nav.sidenav .option > .dropdown{background:#000000;}
nav.sidenav .menu > a{color:#ffffff;}
nav.sidenav .submenu > a{color:#000000; background:#ffffff;}
nav.sidenav .dropdown-toggle{color:#ffffff;}
nav.sidenav .submenu .dropdown-toggle{color:#000000;}

/* Global Search Container */
.global-search-container .btn-container{background:#ffffff;}
.global-search-container .hamburger > *{background:#000000;}
.global-search-container .content-container{background:#000000; border:1px solid #ffffff;}

/* Accessibility Container */
.accessibility-container > .wrapper{background:#000000; border-color:#ffffff!important;}
.accessibility-container .flag-wrapper{background:#000000; border:1px solid #ffffff;}
.accessibility-container .btn{background:#ffffff; color:#000000; border-color:#ffffff;}
.accessibility-container .dropdown{background:#000000; border-color:#ffffff!important;}
.accessibility-container .dropdown .flag-wrapper{border:0;}

/* Back to Top */
.back-to-top{background:#000000; color:#ffffff!important; border-color:#ffffff;}


/* Buttons */
.btn.btn-color-black, .btn.btn-color-black:focus, 
.btn.btn-color-black:hover, .btn.btn-color-black:active,
.btn.btn-color-01, .btn.btn-color-01:focus, .btn.btn-color-01:hover, .btn.btn-color-01:active,
.btn.btn-color-02, .btn.btn-color-02:focus, .btn.btn-color-02:hover, .btn.btn-color-02:active,
.btn.btn-color-03, .btn.btn-color-03:focus, .btn.btn-color-03:hover, .btn.btn-color-03:active,
.btn.btn-color-04, .btn.btn-color-04:focus, .btn.btn-color-04:hover, .btn.btn-color-04:active,
.btn.btn-color-05, .btn.btn-color-05:focus, .btn.btn-color-05:hover, .btn.btn-color-05:active,
.btn.btn-color-06, .btn.btn-color-06:focus, .btn.btn-color-06:hover, .btn.btn-color-06:active{
    color:#000000; background:#ffffff;
}

.btn.btn-social{background:#ffffff; color:#000000;}

/* Button Socials */
.btn-socials .btn-social-custom.fw{background:#4668b7;}
.btn-socials .btn-social-custom.fw:hover,
.btn-socials .btn-social-custom.fw > em{background:#3157b0;}
.btn-socials .btn-social-custom.gg{background:#eb4033;}
.btn-socials .btn-social-custom.gg:hover,
.btn-socials .btn-social-custom.gg > em{background:#b62c22;}
.btn-socials .btn-social-custom.ln{background:#3ace01;}
.btn-socials .btn-social-custom.ln:hover,
.btn-socials .btn-social-custom.ln > em{background:#419d1e;}
.btn-socials .btn-social-custom.tw{background:#2cafe9;}
.btn-socials .btn-social-custom.tw:hover,
.btn-socials .btn-social-custom.tw > em{background:#1796ce;}


/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea{
    color:#000000; background:#ffffff; border-color:#ffffff!important;
}

/* Input Wrapper */
.select-wrapper::after, .search-wrapper::after, .date-wrapper::after{color:#000000;}


/* Calendar - Month */
.calendar-month .fc-day-header{color:#fff;}
.calendar-month .fc-day-top > span{background:#fff; color:#000;}
.calendar-month .fc-unthemed td.fc-today{background:rgba(255,255,255,.18);}
.calendar-month .fc-day-top.fc-other-month > span{opacity:.4;}
.calendar-month .custom-event{color:#fff;}
.calendar-month a.fc-more{color:#fff; border-color:#fff;}
.calendar-month .fc-unthemed .fc-popover{border:1px solid #fff; background:#000;}
.calendar-month .fc-unthemed .fc-popover .fc-header{
    border-bottom:1px solid #fff; background:#000;
}
.calendar-month .fc-day:hover{background:rgba(255,255,255,.2);}


/* Chat Container */
.chat-container .chat > .profile-container{background:#ffffff;}
.chat-container .chat .text-wrapper{
    background:#000000; color:#ffffff; border-color:#ffffff;
}


/* CK Editor */
.ck.ck-editor__main>.ck-editor__editable{
    border-color:#dddddd!important; transition:border-color .25s;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused{
    border-color:#fe4d01!important;
}
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar{background:#e1e1e1;}
.ck.ck-dropdown .ck-button.ck-dropdown__button,
.ck-rounded-corners .ck.ck-button{border-color:#ffffff;}
.ck.ck-button.ck-on{background:#ffffff!important;}


/* List Header */
.list-header .option{color:#ffffff; background:#000000; border-color:#ffffff;}
.list-header .option:hover, .list-header .option.active{color:#000000; background:#ffffff;}
.list-header .btn-icon em{background:#ffffff; color:#000000;}


/* Password Level */
.password-level > .levels > *{border:1px solid #ffffff;}
.password-level.level-1 > .levels > *:nth-child(1){background:#ffffff;}
.password-level.level-2 > .levels > *:nth-child(1),
.password-level.level-2 > .levels > *:nth-child(2){background:#ffffff;}
.password-level.level-3 > .levels > *:nth-child(1),
.password-level.level-3 > .levels > *:nth-child(2),
.password-level.level-3 > .levels > *:nth-child(3){background:#ffffff;}
.password-level.level-4 > .levels > *{background:#ffffff;}


/* Popup */
.popup-container .popup-box > .content-container{background:#000000; border-color:#ffffff;}
.popup-container .popup-box > .btn-close{background:#ffffff; color:#000000;}


/* Post Stat */
.post-stat .stat em{color:#000000; background:#ffffff;}


/* Special Border */
.ss-border{border-top:4px solid #ffffff!important; border-bottom:1px solid #ffffff!important;}


/* Special Box Header */
.ss-box-header > .header{background:#ffffff!important; color:#000000!important;}
.ss-box-header > .body{border:1px solid #ffffff;}


/* Special Box Webboard */
.ss-box-webboard > .header{border:1px solid #ffffff;}
.ss-box-webboard > .header .blocks{border-color:#ffffff;}
.ss-box-webboard > .header .slot{border-color:#ffffff;}
.ss-box-webboard > .body{border:1px solid #ffffff; border-top:0;}
.ss-box-webboard .body-section{border-color:#ffffff;}
.ss-box-webboard .inner-wrapper{border-color:#ffffff;}
.ss-box-webboard .webboard-profile > .profile-icon{background:#ffffff;}
.ss-box-webboard .btn.btn-icon{color:#ffffff; border-color:#ffffff;}
.ss-box-webboard a.btn.btn-icon:hover{color:#000000; background:#ffffff;}
.ss-box-webboard .ss-icon-title > em{background:#ffffff!important;}


/* Special Card */
.ss-card .text-container .title, .ss-card .text-container .desc{color:#ffffff;}

/* Special Card 01 */
.ss-card-01 .icon-container .icon{background:#ffffff; color:#000000;}

/* Special Card 02 */
.ss-card-02 .text-container{border:1px solid #ffffff;}
.ss-card-02:hover .text-container{background:#ffffff;}
.ss-card-02 .text-container .arrow{color:#ffffff;}
.ss-card-02:hover .text-container .title, .ss-card-02:hover .text-container .desc,
.ss-card-02:hover .text-container .ss-stat .stat,
.ss-card-02:hover .text-container .arrow{color:#000000;}

/* Special Card 03 */
.ss-card-03 .text-container{border:1px solid #ffffff;}
.ss-card-03:hover .text-container{background:#ffffff;}
.ss-card-03:hover .text-container .title{color:#000000;}

/* Special Card 04 */
.ss-card-04 .text-container{background:#000000; border-color:#ffffff;}
.ss-card-04:hover .text-container{background:#ffffff;}
.ss-card-04 .text-container .card-tag{background:#ffffff; color:#000000;}
.ss-card-04 .text-container .arrow{color:#ffffff;}
.ss-card-04:hover .text-container .title, .ss-card-04:hover .text-container .ss-stat .stat,
.ss-card-04:hover .text-container .arrow{color:#000000;}

/* Special Card 05 */
.ss-card-05 .text-container{background:#000000; border-color:#ffffff;}
.ss-card-05:hover .text-container{background:#ffffff;}
.ss-card-05 .text-container .card-tag{background:#ffffff; color:#000000;}
.ss-card-05 .arrows .slick-arrow{color:#ffffff;}
.ss-card-05:hover .text-container .title, .ss-card-05:hover .text-container .desc, 
.ss-card-05:hover .text-container .ss-stat .stat,
.ss-card-05:hover .arrows .slick-arrow{color:#000000;}

/* Special Card 06 */
.ss-card-06 .text-container{border:1px solid #ffffff;}
.ss-card-06:hover .text-container{background:#ffffff;}
.ss-card-06:hover .text-container .title, .ss-card-06:hover .text-container .desc,
.ss-card-06:hover .text-container .ss-stat .stat,
.ss-card-06:hover .text-container .arrow{color:#000000;}

/* Special Card 07 */
.ss-card-07{border:1px solid #ffffff;}
.ss-card-07:hover{background:#ffffff;}
.ss-card-07 .text-container .arrow{color:#ffffff;}
.ss-card-07:hover .text-container .title, .ss-card-07:hover .text-container .desc,
.ss-card-07:hover .text-container .ss-stat .stat,
.ss-card-07:hover .text-container .arrow{color:#000000;}
.ss-card-07 .text-container .card-tag{background:#ffffff; color:#000000;}
.ss-card-07:hover .text-container .card-tag{background:#000000; color:#ffffff;}

/* Special Card 08 */
.ss-card-08{border:1px solid #ffffff;}
.ss-card-08:hover{background:#ffffff;}
.ss-card-08 .text-container > .info-content{border-color:#ffffff;}
.ss-card-08:hover .text-container > .info-content{border-color:#000000;}
.ss-card-08 .text-container .arrow{color:#ffffff;}
.ss-card-08:hover .text-container .title, .ss-card-08:hover .text-container .desc,
.ss-card-08:hover .text-container .ss-stat .stat, .ss-card-08:hover .text-container .arrow,
.ss-card-08:hover .info-content p{color:#000000;}
.ss-card-08 .info-content .text-icon em{background:#ffffff; color:#000000;}
.ss-card-08:hover .info-content .text-icon em{background:#000000; color:#ffffff;}

/* Special Card 09 */
.ss-card-09{border:1px solid #ffffff;}

/* Special Card 10 */
.ss-card-10{border:1px solid #ffffff;}

/* Special Card 11 */
.ss-card-11{border:1px solid #ffffff;}
.ss-card-11 .text-container .title{color:#ffffff;}
.ss-card-11 > .info-content{border-color:#ffffff;}

/* Special Card 12 */
.ss-card-12{border:1px solid #ffffff;}
.ss-card-12:hover{background:#ffffff;}
.ss-card-12:hover .text-container .title,
.ss-card-12:hover .text-container .date{color:#000000;}


/* Special Date */
.ss-date, .ss-date-sm{background:#ffffff; color:#000000;}


/* Special File 01 */
.ss-file-01 > .icon-container{background:#ffffff; color:#000000;}


/* Special File 02 */
.ss-file-02{background:#000000; border-color:#ffffff; color:#ffffff;}
.ss-file-02 > .icon-container{background:#ffffff; color:#000000;}


/* Special Icon Title */
.ss-icon-title > em{background:#ffffff; color:#000000;}


/* Special Image */
.ss-img .hover-container{background:rgba(255,77,1,.5);}


/* Special List 01 */
.ss-list-01 > li::before{background:#ffffff;}


/* Special Separation 01 */
.ss-sep-01 > *::before, .ss-sep-01 > *::after{background:#ffffff;}


/* Special Stat */
.ss-stat .stat{color:#ffffff;}
.ss-stat .stat .icon-round{background:#ffffff; color:#000000;}

/* Special Tag */
.ss-tag{background:#ffffff; color:#000000;}


/* Table */
table.table td{border-color:#ffffff;}
table.table .sep{background:#ffffff;}
table.table .ticon{color:#000000!important; background:#ffffff!important;}

/* Table 01 */
table.table.table-01 th{background:#ffffff; color:#000000;}
table.table.table-01 td{color:#ffffff; border-color:#ffffff!important;}
table.table.table-01 .profile-card > .profile-icon{background:#ffffff;}

/* Table 02 */
table.table.table-02{border-color:#ffffff;}

/* Table 03 */
table.table.table-03, table.table.table-03 tfoot th,
table.table.table-03 td{border-color:#ffffff;}

/* Table 04 */
table.table.table-04 thead th, table.table.table-04 td{border-color:#ffffff;}


/* Toggle Target */
.toggle-target{background:#000000; border-color:#ffffff;}


/* About 03 */
.about-03 > .img-bg{background:none!important;}
.about-03 .slick-dots button{background:#ffffff;}
.about-03 .arrows button{color:#ffffff;}


/* About 04 */
.about-04 > .img-bg{background:none!important;}
.about-04 .about-box{border:1px solid #ffffff;}


/* About 05 */
.about-05 .about-container > .wrapper::before{border:1px solid #ffffff;}


/* Banner 01 */
.banner-01 .slick-dots button{background:#ffffff;}
.banner-01 .arrows button{background:#ffffff; color:#000000;}
.banner-01 .arrows button:hover{background:#000000; color:#ffffff;}


/* Breadcrumb 03 */
.breadcrumb-03 .text-container{background:#000000; color:#ffffff; border:1px solid #ffffff;}
.breadcrumb-03 > .bottom-container{background:#000000; border-bottom:1px solid #ffffff;}


/* Contact Card 01 */
.contact-card-01{background:#000000; border:1px solid #ffffff;}
.contact-card-01 .contact-tag{color:#ffffff; opacity:.25;}


/* Faq 01 */
.faq-01 .faq > .question{background:#000000; border-color:#ffffff;}
.faq-01 .faq.active > .question{background:#ffffff;}
.faq-01 .faq > .question h6{color:#ffffff;}
.faq-01 .faq.active > .question h6{color:#000000;}
.faq-01 .faq .ftag, .faq-01 .faq .arrow{background:#ffffff; color:#000000;}
.faq-01 .faq.active .ftag, .faq-01 .faq.active .arrow{background:#000000; color:#ffffff;}
.faq-01 .faq .arrow::before, .faq-01 .faq .arrow::after{background:#000000;}
.faq-01 .faq.active .arrow::before, .faq-01 .faq.active .arrow::after{background:#ffffff;}
.faq-01 .faq > .answer .ftag{background:#ffffff; color:#000000;}
.faq-01 .faq > .answer .content{border-color:#ffffff;}


/* Faq 02 */
.faq-02 .faq > .question .ftag{background:#ffffff; color:#000000;}
.faq-02 .faq > .question .text-container{
    background:#000000; color:#ffffff; border-color:#ffffff;
}
.faq-02 .faq .arrow::before, .faq-02 .faq .arrow::after{background:#ffffff;}
.faq-02 .faq > .answer > .wrapper{
    border-color:#ffffff; background:#000000; border-right:1px solid #ffffff;
}
.faq-02 .faq > .answer .ftag{
    background:#ffffff; color:#000000; border-top:1px solid #000000;
}


/* Org 01 */
.org-01 .node, .org-01 .node a{color:#000000;}
.org-01 .node::before, .org-01 .node::after{background:#ffffff;}
.org-01 .node > .node-container{background:#ffffff;}
.org-01 .node .node-title{border-color:#000000;}
.org-01 .node.node-01 .children{background:#ffffff;}
.org-01 .node .child{background:#000000; color:#ffffff;}
.org-01 .node .child:hover > *{background:#ffffff; color:#000000;}


/* Pagination 01 */
.pagination-01 .page-btn{color:#000000; border-color:#ffffff; background:#ffffff;}
.pagination-01 .page-btn:hover, .pagination-01 .page-btn.active{
    background:#000000!important; color:#ffffff;
}


/* Pagination 02 */
.pagination-02 .page-btn:hover, 
.pagination-02 .page-btn.active{background:#ffffff; color:#000000;}
.pagination-02 .page-btn.page-first:hover, .pagination-02 .page-btn.page-prev:hover, 
.pagination-02 .page-btn.page-next:hover, .pagination-02 .page-btn.page-last:hover{
    background:none; color:#ffffff;
}
.pagination-02 .page-btn em{color:#ffffff;}


/* Sitemap 01 */
.sitemap-01 .grid, .sitemap-01 .sitemap > .header, .sitemap-01 .sitemap a,
.sitemap-01 .sitemap li > ul{border-color:#ffffff;}
.sitemap-01 .sitemap li > ul > li::before{background:#ffffff;}


/* Survey 01 */
.survey-01 .survey > .header .icon{background:#ffffff; color:#000000;}


/* Survey 02 */
.survey-02 .survey > .num{background:#ffffff; color:#000000;}


/* Tab Container - Tabs 01 */
.tab-container .tabs.tabs-01 .tab{color:#ffffff;}
.tab-container .tabs.tabs-01 .tab::before{background:#ffffff;}
.tab-container .tabs.tabs-01 .tab::after{background:#ffffff;}

/* Tab Container - Tabs 02 */
.tab-container .tabs.tabs-02{background:#000000; border:1px solid #ffffff;}
.tab-container .tabs.tabs-02 .tab{color:#ffffff; border-color:#ffffff;}
.tab-container .tabs.tabs-02 .tab:hover, 
.tab-container .tabs.tabs-02 .tab.active{background:#ffffff; color:#000000;}
.tab-container .tabs.tabs-02 .hamburger > *{background:#ffffff;}

/* Tab Container - Tabs 03 */
.tab-container .tabs.tabs-03 .tab{color:#ffffff;}
.tab-container .tabs.tabs-03 .tab::before{background:#ffffff;}
.tab-container .tabs.tabs-03 .tab::after{background:#ffffff;}

/* Tab Container - Tabs 04 */
.tab-container .tabs.tabs-04 .tab{color:#ffffff;}
.tab-container .tabs.tabs-04 .tab::before{background:#ffffff;}
.tab-container .tabs.tabs-04 .tab::after{background:#ffffff;}
