
/* Reset */
html, body{background:#000000;}
html, body, a, a:hover, table.table{color:#ffff00;}


/* Colors */
.color-white, .color-black, 
.color-gray, .h-color-gray:hover, 
.color-mgray, .h-color-mgray:hover, 
.color-sgray, .h-color-sgray:hover,
.color-01, .h-color-01:hover,
.color-02, .h-color-02:hover,
.color-03, .h-color-03:hover,
.color-04, .h-color-04:hover,
.color-05, .h-color-05:hover,
.color-06, .h-color-06:hover{color:#ffff00!important;}

.bg-white, .bg-black, .bg-gray, .bg-mgray, .bg-sgray,
.bg-01, .bg-02, .bg-03, .bg-04, .bg-05, .bg-06{background:#000000!important;}

.bcolor-white, .bcolor-black, .bcolor-gray, .bcolor-mgray, .bcolor-sgray, 
.bcolor-01, .bcolor-02, .bcolor-03, .bcolor-04, .bcolor-05, 
.bcolor-06{border-color:#ffff00!important;}


/* Topnav */
nav.topnav{background:#000000; border-bottom:1px solid #ffff00;}
nav.topnav .logo{background:#fe4d01;}
nav.topnav .logo:hover{background:#993300;}
nav.topnav .menu > a{color:#ffff00; border-color:#ffff00;}
nav.topnav .menu > a:hover, nav.topnav .menu.active > a{background:#ffff00; color:#000000;}
nav.topnav .option{background:#000000; color:#ffff00; border-color:#ffff00;}
nav.topnav .option:hover{background:#ffff00; color:#000000;}
nav.topnav .hamburger > *{background:#ffff00;}
nav.topnav .option:hover .hamburger > *{background:#000000;}

/* Topnav Option */
.topnav-option{background:#000000!important; border-bottom:1px solid #ffff00;}
.topnav-option .text{color:#ffff00;}
.topnav-option .btn.btn-circle, .topnav-option .btn.btn-circle:focus,
.topnav-option .btn.btn-circle:hover, .topnav-option .btn.btn-circle:active,
.topnav-option .btn.font-size-btn, .topnav-option .btn.theme-btn{
    background:#ffff00; color:#000000;
}
.topnav-option .flag-wrapper{background:#ffff00; color:#000000;}
.topnav-option .flag-wrapper > .text{color:#000000;}
.topnav-option .dropdown{background:#ffff00; border:1px solid #ffff00;}
.topnav-option .btn.theme-btn{border:1px solid #ffff00;}
.topnav-option .btn.theme-btn[data-theme="0"]{background:#ffffff; color:#000000;}
.topnav-option .btn.theme-btn[data-theme="1"]{background:#000000; color:#ffff00;}
.topnav-option .btn.theme-btn[data-theme="2"]{background:#000000; color:#00ffff;}

/* Topnav Dropdown */
.topnav-dropdown .btn-container{background:#ffff00;}
.topnav-dropdown .hamburger > *{background:#000000;}
.topnav-dropdown .content-container{background:#000000; border:1px solid #ffff00;}

/* Global Search */
.global-search-container .btn-container{background:#ffff00;}
.global-search-container .hamburger > *{background:#000000;}
.global-search-container .content-container{background:#000000; border:1px solid #ffff00;}

/* Back to Top */
.back-to-top{background:#000000; color:#ffff00!important; border-color:#ffff00;}


/* Buttons */
.btn.btn-color-black, .btn.btn-color-black:focus, 
.btn.btn-color-black:hover, .btn.btn-color-black:active,
.btn.btn-color-01, .btn.btn-color-01:focus, .btn.btn-color-01:hover, .btn.btn-color-01:active,
.btn.btn-color-02, .btn.btn-color-02:focus, .btn.btn-color-02:hover, .btn.btn-color-02:active,
.btn.btn-color-03, .btn.btn-color-03:focus, .btn.btn-color-03:hover, .btn.btn-color-03:active,
.btn.btn-color-04, .btn.btn-color-04:focus, .btn.btn-color-04:hover, .btn.btn-color-04:active{
    color:#000000; background:#ffff00;
}

.btn.btn-social{background:#ffff00; color:#000000;}


/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea{
    color:#000000; background:#ffff00; border-color:#ffff00!important;
}

/* Input Wrapper */
.select-wrapper::after, .search-wrapper::after, .date-wrapper::after{color:#000000;}


/* List Header */
.list-header .option{color:#ffff00; background:#000000; border-color:#ffff00;}
.list-header .option:hover, .list-header .option.active{color:#000000; background:#ffff00;}


/* Pagination */
.pagination .page-btn{color:#000000; border-color:#ffff00; background:#ffff00;}
.pagination .page-btn:hover, .pagination .page-btn.active{
    background:#000000!important; color:#ffff00;
}


/* Popup */
.popup-container .popup-box > .content-container{background:#000000; border-color:#ffff00;}
.popup-container .popup-box > .btn-close{background:#ffff00; color:#000000;}


/* Post Stat */
.post-stat .stat em{color:#000000; background:#ffff00;}


/* Special Card */
.ss-card .text-container .title, .ss-card .text-container .desc{color:#ffff00;}

/* Special Card 01 */
.ss-card-01 .icon-container .icon{background:#ffff00; color:#000000;}

/* Special Card 02 */
.ss-card-02 .text-container{border:1px solid #ffff00;}
.ss-card-02:hover .text-container{background:#ffff00;}
.ss-card-02 .text-container .arrow{color:#ffff00;}
.ss-card-02:hover .text-container .title, .ss-card-02:hover .text-container .desc,
.ss-card-02:hover .text-container .ss-stat .stat,
.ss-card-02:hover  .text-container .arrow{color:#000000;}

/* Special Card 03 */
.ss-card-03 .text-container{border:1px solid #ffff00;}
.ss-card-03:hover .text-container{background:#ffff00;}
.ss-card-03:hover .text-container .title{color:#000000;}


/* Special Icon Title */
.ss-icon-title > em{background:#ffff00; color:#000000;}


/* Special Image */
.ss-img .hover-container{background:rgba(255,77,1,.5);}


/* Special Stat */
.ss-stat .stat{color:#ffff00;}

/* Special Tag */
.ss-tag{background:#ffff00; color:#000000;}


/* Table */
table.table td{border-color:#ffff00;}
table.table .sep{background:#ffff00;}
table.table .ticon{color:#000000!important; background:#ffff00!important;}


/* Toggle Target */
.toggle-target{background:#000000; border-color:#ffff00;}


/* Faq 01 */
.faq-01 .faq > .question{background:#000000; border-color:#ffff00;}
.faq-01 .faq.active > .question{background:#ffff00;}
.faq-01 .faq > .question h6{color:#ffff00;}
.faq-01 .faq.active > .question h6{color:#000000;}
.faq-01 .faq .ftag, .faq-01 .faq .arrow{background:#ffff00; color:#000000;}
.faq-01 .faq.active .ftag, .faq-01 .faq.active .arrow{background:#000000; color:#ffff00;}
.faq-01 .faq .arrow::before, .faq-01 .faq .arrow::after{background:#000000;}
.faq-01 .faq.active .arrow::before, .faq-01 .faq.active .arrow::after{background:#ffff00;}
.faq-01 .faq > .answer .ftag{background:#ffff00; color:#000000;}
.faq-01 .faq > .answer .content{border-color:#ffff00;}


/* Org 01 */
.org-01 .node, .org-01 .node a{color:#000000;}
.org-01 .node::before, .org-01 .node::after{background:#ffff00;}
.org-01 .node > .node-container{background:#ffff00;}
.org-01 .node .node-title{border-color:#000000;}
.org-01 .node.node-01 .children{background:#ffff00;}
.org-01 .node .child{background:#000000; color:#ffff00;}
.org-01 .node .child:hover > *{background:#ffff00; color:#000000;}


/* Sitemap 01 */
.sitemap-01 .grid, .sitemap-01 .sitemap > .header, .sitemap-01 .sitemap a,
.sitemap-01 .sitemap li > ul{border-color:#ffff00;}
.sitemap-01 .sitemap li > ul > li::before{background:#ffff00;}


/* Tab Container - Tabs 01 */
.tab-container .tabs.tabs-01 .tab{color:#ffff00;}
.tab-container .tabs.tabs-01 .tab::before{background:#ffff00;}
.tab-container .tabs.tabs-01 .tab::after{background:#ffff00;}
