
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none){
    
    /* Topnav Option */
    .topnav-option .dropdown{display:none;}
    .topnav-option .block:hover > .dropdown{display:block;}
    
    /* Global Search */
    .global-search-container{display:none;}
    .global-search-container.active{display:block;}

    /* Popup */
    .popup-container{display:none;}
    .popup-container.active{display:block;}

    /* Toggle Target */
    .toggle-target{display:none;}
    .toggle-target.active{display:none;}

    /* Special Card 05 */
    .ss-card-05 > .img-container .img-wrapper{display:none;}
    .ss-card-05 > .img-container .img-wrapper.active{display:block;}

}
