/* Topnav */
nav.topnav{
    position:fixed; top:0; left:0; width:100%; border-bottom:1px solid transparent; z-index:95; 
    transition:box-shadow .3s, top .3s;
}
nav.topnav.sticky{box-shadow:rgba(58,45,45,.03) 0px 10px 20px; top:-3rem;}

nav.topnav > .top-container{
    background-size:cover; background-position:center; background-repeat:no-repeat;
    padding:.5rem 0;
}
nav.topnav .blocks{width:100%; display:flex; align-items:center; justify-content:space-between;}
nav.topnav .options{display:flex; align-items:center;}
nav.topnav .option{
    display:flex; align-items:center; margin:0 0 0 1rem; font-size:1rem; font-weight:300;
    color:#fff;
}
nav.topnav .ss-btn{
    display:inline-block; position:relative; padding:.4375rem 1.125rem; border-radius:.25rem;
    background:rgba(0,0,0,.35); text-decoration:none; color:#fff; font-size:1rem;
    font-weight:300; transition:background .3s;
}
nav.topnav .ss-btn:hover{background:#88009b;}
nav.topnav .ss-btn::before{
    content:'\f054'; font-family:'Font Awesome 5 Free'; font-weight:900; font-size:60%;
    margin:0 .5rem 0 0; color:#70cae5; transition:color .3s;
}
nav.topnav .ss-btn:hover::before{color:#fff;}
nav.topnav .ss-btn-2, nav.topnav .ss-btn-3{
    display:inline-block; width:1.5625rem; height:1.5625rem; border-radius:50%; text-align:center;
    line-height:1.5625rem; background:#212120; text-decoration:none; color:#fff;
    margin:0 0 0 .1875rem; font-size:1.125rem; font-weight:500; transition:background .3s, color .3s;
}
nav.topnav .ss-btn-2:nth-child(1), nav.topnav .ss-btn-3:nth-child(1){margin:0 0 0 .5rem;}
nav.topnav .ss-btn-2:nth-child(2){background:#40136f;}
nav.topnav .ss-btn-3:nth-child(1){color:#a51ca7; background:#fff;}
nav.topnav .ss-btn-3:nth-child(3){color:#4daeb5;}
nav.topnav .ss-btn-2:hover, nav.topnav .ss-btn-3:hover{
    background:#88009b!important; color:#fff!important;
}

nav.topnav > .bottom-container .wrapper{
    width:100%; display:flex; align-items:center; justify-content:space-between;
}
nav.topnav .logo{
    display:flex; align-items:center; text-decoration:none; padding:.375rem 0; 
    margin:0; transition:padding .3s, opacity .3s;
}
nav.topnav .logo:hover{opacity:.8;}
nav.topnav .logo > img{display:block; height:4.375rem; width:auto; transition:width .3s, height .3s;}
nav.topnav.sticky .logo > img{height:3.5rem;}
nav.topnav .logo > .text{padding:.25rem 0 0 0; margin:0 0 0 1rem;}
nav.topnav .logo h1{
    margin:0; font-size:1.875rem; font-weight:400; line-height:.75; transition:transform .3s;
}
nav.topnav .logo p{
    margin:0; font-size:1.25rem; font-weight:300; transition:opacity .1s, font-size .1s, margin .1s;
}

nav.topnav .menu-container{display:flex; align-items:center; counter-reset:topnav;}
nav.topnav .menu{position:relative; height:100%; border-left:1px solid #ebebeb;}
nav.topnav .menu > a{
    display:block; position:relative; text-decoration:none; padding:2rem .625rem .375rem .625rem;
    font-size:1.25rem; color:#2f2f2f; font-weight:400; transition:color .3s, background .3s;
}
nav.topnav .menu:hover > a{color:#9053a0!important; background:#f9f9f9!important;}
nav.topnav .menu > a::before{
    counter-increment:topnav; content:counter(topnav, decimal-leading-zero);
    color:transparent; background-clip:text; -webkit-background-clip:text;
    background-image:linear-gradient(to bottom, #b57bb8, #9053a0)!important;
    font-size:2.5rem; font-weight:500; margin:0 .25rem 0 0;
}

nav.topnav .menu.icon-menu{border-left:0;}
nav.topnav .menu.icon-menu > a{
    background-image:linear-gradient(to bottom, #4a1a4a, #632662, #4a1a4a)!important;
    padding:1.5rem .625rem 1rem .625rem; min-width:3.75rem;
}
nav.topnav .menu.icon-menu:last-child > a{
    background-image:linear-gradient(to bottom, #5d2476, #74338d, #5d2476)!important;
}
nav.topnav .menu.icon-menu > a > p{
    color:#fff; margin:.5rem 0 0 0; text-align:center; font-size:.9375rem; font-weight:300;
}
nav.topnav .menu.icon-menu > a::before{display:none;}
nav.topnav .menu.icon-menu > a .img-bg, nav.topnav .menu.icon-menu > a .icon{
    display:block; max-width:1.875rem; height:1.25rem; margin:0 auto; border-radius:.25rem;
    background-size:cover; background-position:center; text-align:center; line-height:1.25rem;
    color:#fff; font-size:1.125rem;
}
nav.topnav .menu.icon-menu:nth-last-child(2) > a::after{
    position:absolute; bottom:.25rem; left:0; right:0; text-align:center; color:#fff;
    content:'\f078'; font-family:'Font Awesome 5 Free'; font-weight:900; font-size:.5625rem;
    background:transparent;
}

nav.topnav ~ .topnav-spacer{display:block; width:100%; height:8.25rem;}


/* Footer */
nav.footer{padding:4rem 0; background:#f4f4f4!important; overflow:hidden; text-align:center;}
nav.footer img{width:6rem; height:auto; margin:0 auto;}
nav.footer h2{margin:.75rem 0 0 0; font-size:2.125rem; font-weight:400;}
nav.footer h1{font-size:3.75rem; font-weight:400; line-height:1;}
nav.footer h1 > a{
    display:inline-block; color:#000; text-decoration:none; margin:0 1rem;
    transition:color .3s;
}
nav.footer p{color:#63487d!important; margin:1.75rem 0 0 0; font-size:1.25rem; font-weight:400;}
