
/* Footer Pattern */
.footer-pattern{width:100%; overflow:hidden; margin:2rem 0 0 0;}
.footer-pattern > img{display:block; width:100%; height:auto;}
@media screen and (max-width:1299.98px){
    .footer-pattern > img{width:1400px; transform:translateX(calc(50vw - 700px));}
}
@media screen and (max-width:1199.98px){
    .footer-pattern{margin:1.75rem 0 0 0;}
    .footer-pattern > img{width:1300px; transform:translateX(calc(50vw - 650px));}
}
@media screen and (max-width:991.98px){
    .footer-pattern{margin:1.5rem 0 0 0;}
    .footer-pattern > img{width:1100px; transform:translateX(calc(50vw - 550px));}
}
@media screen and (max-width:767.98px){
    .footer-pattern{margin:1.25rem 0 0 0;}
    .footer-pattern > img{width:1000px; transform:translateX(calc(50vw - 500px));}
}
@media screen and (max-width:575.98px){
    .footer-pattern{margin:1rem 0 0 0;}
    .footer-pattern > img{width:900px; transform:translateX(calc(50vw - 450px));}
}


/* Footer */
nav.footer{width:100%; padding:1.5rem 0 2.25rem 0; background:#303030; color:#ffffff;}
nav.footer .blocks{width:100%; display:flex; justify-content:space-between; flex-wrap:wrap;}
nav.footer .left-block{width:17.5rem;}
nav.footer .right-block{width:calc(100% - 18.5rem);}
nav.footer .info-block{width:calc(100% - 9.25rem);}
nav.footer .social-block{width:8.25rem;}
nav.footer .desc-container{display:flex; width:100%;}
nav.footer .desc-container .logo-container{width:4rem; padding:0 .75rem 0 0;}
nav.footer .desc-container .logo-container img{display:block; width:100%; height:auto;}
nav.footer .links{width:100%; padding:0 0 .25rem 0; transform:translateX(-.875rem);}
nav.footer .links > a{
    position:relative; display:inline-block; padding:0 .875rem; color:#ffffff;
    font-size:.875rem; font-weight:100;
}
nav.footer .links > a:hover{color:#ffb739;}
nav.footer .links > a::after, nav.footer .info-container > .info::after{
    content:''; position:absolute; top:.1875rem; bottom:.1875rem; right:0; width:1px;
    background:#5d5d5d;
}
nav.footer .info-container > .info:last-child::after,
nav.footer .links > a:last-child::after{display:none;}
nav.footer .info-container{
    width:100%; display:flex; flex-wrap:wrap; border-top:1px solid #5d5d5d;
}
nav.footer .info-container > .info{
    position:relative; padding:0 .5625rem 0 0; margin:.5625rem .5625rem 0 0;
}
nav.footer .info-container > .info:last-child{padding-right:0; margin-right:0;}
nav.footer .info-container > .info a{color:#ffffff;}
nav.footer .info-container > .info a:hover{color:#ffb739;}
nav.footer .social-block .btns{text-align:right;}
nav.footer .visitor-count{
    display:flex; align-items:center; justify-content:flex-end; margin:.5rem 0 0 0;
}
nav.footer .visitor-count > *{
    display:inline-block; width:1.125rem; height:1.5rem; line-height:1.5rem; text-align:center;
    background:#000000; color:#ffffff; font-size:.8125rem; font-weight:300;
    margin:0 0 0 .0625rem;
}
nav.footer .quicklinks{
    width:100%; font-size:.8125rem; text-align:right; margin:.5625rem 0 0 0;
}
nav.footer .quicklinks > a{display:inline-block; color:#a1a1a1; margin:.25rem 0 0 1rem;}
nav.footer .quicklinks > a:hover{color:#ffb739;}
nav.footer h6{color:#fe4d01;}
nav.footer p{line-height:1.4; font-size:.8125rem; font-weight:100; color:#ffffff;}
nav.footer .btn.btn-social{background:#fe4d01; color:#ffffff;}
nav.footer .btn.btn-social:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}
nav.footer .btn.btn-social:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.20);}
@media screen and (max-width:1199.98px){
    nav.footer .left-block, nav.footer .right-block, nav.footer .info-block,
    nav.footer .social-block{width:100%;}
    nav.footer .right-block{margin:1.5rem 0 0 0;}
    nav.footer .social-block{margin:1.25rem 0 0 0;}
    nav.footer .social-block .btns{text-align:left;}
    nav.footer .visitor-count{justify-content:flex-start;}
    nav.footer .quicklinks{text-align:left;}
    nav.footer .quicklinks > a{margin:.25rem 1rem 0 0;}
}
@media screen and (max-width:767.98px){
    nav.footer .desc-container{justify-content:center;}
    nav.footer .links{transform:translateX(0); text-align:center;}
    nav.footer .info-container{justify-content:center;}
    nav.footer .social-block .btns{text-align:center;}
    nav.footer .visitor-count{justify-content:center;}
    nav.footer .quicklinks{text-align:center;}
    nav.footer .quicklinks > a{margin:.25rem .5rem 0 .5rem;}
}


/* Back to Top */
.back-to-top{
    display:block; text-decoration:none; width:3rem; height:3rem; border-radius:.3125rem;
    text-align:center; line-height:3.25rem; font-size:1.25rem; opacity:0; z-index:90;
    position:fixed; bottom:1rem; right:1rem; border:1.8px solid transparent;
    pointer-events:none; transition:opacity .3s;
}
.back-to-top.active{opacity:.6; pointer-events:all;}
.back-to-top.active:hover{opacity:1;}
.back-to-top > i{transform:translateY(-.1875rem);}
