
/* Topnav Secretary */
nav.topnav-secretary{
    position:fixed; top:0; left:0; width:100%; padding:0 2rem; z-index:95;
    box-shadow:0px 2px 8px 2px rgba(0,0,0,.15);
    transition:transform .25s, background .25s, box-shadow .25s, border-color .25s;
}
nav.topnav-secretary.fade-in{box-shadow:none;}
nav.topnav-secretary.fade-in.sticky{box-shadow:0px 2px 8px 2px rgba(0,0,0,.15);}
nav.topnav-secretary .blocks{
    width:100%; display:flex; align-items:center; justify-content:space-between;
}
nav.topnav-secretary .block{display:flex; align-items:center;}
nav.topnav-secretary .logo{
    display:flex; align-items:flex-end; border-right:1px solid transparent;
    padding:0 .625rem .75rem 0; transition:opacity .25s;
}
nav.topnav-secretary .logo:hover{opacity:.7;}
nav.topnav-secretary .logo > img{display:block; width:2rem; height:auto; margin:0 .5rem 0 0;}
nav.topnav-secretary .logo h6{
    font-size:1rem; font-weight:300; line-height:1.3; white-space:nowrap;
}
nav.topnav-secretary .logo p{
    font-size:.625rem; font-weight:200; line-height:1; letter-spacing:.25rem; white-space:nowrap;
}
nav.topnav-secretary .menu-container{display:flex; align-items:center;}
nav.topnav-secretary .menu{display:block; position:relative;}
nav.topnav-secretary .menu > a{
    display:flex; align-items:flex-end; border-right:1px solid transparent; white-space:nowrap;
    padding:2.375rem .625rem .5rem .625rem; font-size:.9375rem; font-weight:200;
    transition:background .25s, color .25s;
}
nav.topnav-secretary .menu > a .num{
    font-size:1.75rem; font-weight:600; line-height:1.1; margin:0 .25rem 0 0;
}
nav.topnav-secretary .option{
    display:inline-block; width:2.25rem; height:2.25rem; line-height:2.5rem;
    border-radius:50%; margin:1.25rem 0 0 .375rem; font-size:1.375rem; text-align:center;
    transition:background .25s, color .25s;
}
nav.topnav-secretary .option:first-child{margin-left:0;}
nav.topnav-secretary .sidenav-toggle{
    display:block; height:4rem; padding:1.5rem 0 0 0; margin:0 0 0 .625rem;
}
nav.topnav-secretary .submenu-dropdown{
    position:absolute; top:calc(100% + .5rem); left:0;
    box-shadow:0px 4px 8px 4px rgba(0,0,0,.15);
    opacity:0; pointer-events:none; transition:opacity .5s, top .5s;
}
nav.topnav-secretary .menu:hover > .submenu-dropdown{opacity:1; top:100%; pointer-events:auto;}
nav.topnav-secretary .submenu-dropdown.anchor-right{left:auto; right:0;}
nav.topnav-secretary .submenu-dropdown.anchor-middle{transform:translateX(-50%);}
nav.topnav-secretary .submenu-blocks{position:relative; display:flex;}
nav.topnav-secretary .submenu-block{
    display:block; width:280px; padding:0 0 2rem 0; border-left:1px solid transparent;
}
nav.topnav-secretary .submenu-block:first-child{border:0;}
nav.topnav-secretary .submenu-title{
    display:block; width:100%; padding:.75rem 1rem .3125rem calc(1.25rem - 4px);
    font-size:1.3125rem; font-weight:600; border-left:4px solid transparent;
}
nav.topnav-secretary .submenu{position:relative;}
nav.topnav-secretary .submenu > a{
    display:block; position:relative; width:100%; margin:0; padding:.5rem .5rem .5rem 1.25rem;
    font-size:.875rem; font-weight:500; transition:background .25s, color .25s;
}
nav.topnav-secretary .submenu > a::after{
    content:''; position:absolute; bottom:0; left:1rem; right:0; height:1px;
}
nav.topnav-secretary .submenu > .submenu-block{position:relative; padding:0 0 0 1rem; border:0;}
nav.topnav-secretary .submenu .submenu > a::before{
    content:''; position:absolute; top:1rem; left:.3125rem; width:.3125rem; height:.3125rem;
}
nav.topnav-secretary .show-mobile{display:none!important;}
@media screen and (max-width:1299.98px){
    nav.topnav-secretary{padding:0 1rem;}
}
@media screen and (max-width:1199.98px){
    nav.topnav-secretary .hide-mobile{display:none!important;}
    nav.topnav-secretary .show-mobile{display:block!important;}
    nav.topnav-secretary .logo{padding:.5rem .625rem .625rem 0;}
    nav.topnav-secretary .logo > img{width:1.75rem;}
    nav.topnav-secretary .logo h6{font-size:.9375rem;}
    nav.topnav-secretary .option{
        width:2.125rem; height:2.125rem; line-height:2.4375rem; margin:.5rem 0 0 .375rem;
    }
}

nav.topnav-secretary{background:rgba(254,77,1,.75); color:#ffffff;}
nav.topnav-secretary.sticky{background:#fe4d01;}
nav.topnav-secretary .logo{color:#ffffff;}
nav.topnav-secretary .menu > a{color:#ffffff; border-color:#ffffff;}
nav.topnav-secretary .menu:hover > a, 
nav.topnav-secretary .menu.active > a{color:#000000; background:#ffffff;}
nav.topnav-secretary .menu:hover > a .num, 
nav.topnav-secretary .menu.active > a .num{color:#fe4d01;}
nav.topnav-secretary .option{background:#000000; color:#ffffff;}
nav.topnav-secretary .option:hover, nav.topnav-secretary .option.active{background:#ffb739;}
nav.topnav-secretary .hamburger > *{background:#ffffff;}
nav.topnav-secretary .submenu-dropdown{background:#ffffff;}
nav.topnav-secretary .submenu-block{border-color:#e1e1e1;}
nav.topnav-secretary .submenu-title{color:#ffffff;}
nav.topnav-secretary .submenu-block:first-child > .submenu-title{
    color:#fe4d01; border-color:#fe4d01;
}
nav.topnav-secretary .submenu > a{color:#000000;}
nav.topnav-secretary .submenu:hover > a{color:#ffb739;}
nav.topnav-secretary .submenu > a::after{background:#e1e1e1;}
nav.topnav-secretary .submenu .submenu > a{color:#666666;}
nav.topnav-secretary .submenu .submenu:hover > a{color:#ffb739;}
nav.topnav-secretary .submenu .submenu > a::before{background:#fe4d01;}
nav.topnav-secretary.fade-in{background:transparent;}
nav.topnav-secretary.fade-in.sticky{background:#fe4d01;}

.theme-1 nav.topnav-secretary{
    background:#000000; color:#ffffff; border-bottom:1px solid #ffffff;
}
.theme-1 nav.topnav-secretary .logo{color:#ffffff;}
.theme-1 nav.topnav-secretary .menu > a{color:#ffffff; border-color:#ffffff;}
.theme-1 nav.topnav-secretary .menu:hover > a, 
.theme-1 nav.topnav-secretary .menu.active > a{color:#000000; background:#ffffff;}
.theme-1 nav.topnav-secretary .menu:hover > a .num, 
.theme-1 nav.topnav-secretary .menu.active > a .num{color:#000000;}
.theme-1 nav.topnav-secretary .option{background:#ffffff; color:#000000;}
.theme-1 nav.topnav-secretary .hamburger > *{background:#ffffff;}
.theme-1 nav.topnav-secretary .submenu-dropdown{background:#000000; border:1px solid #ffffff;}
.theme-1 nav.topnav-secretary .submenu-block{border-color:#ffffff;}
.theme-1 nav.topnav-secretary .submenu-title{color:#ffffff;}
.theme-1 nav.topnav-secretary .submenu-block:first-child > .submenu-title{
    color:#ffffff; border-color:#ffffff;
}
.theme-1 nav.topnav-secretary .submenu > a{color:#ffffff;}
.theme-1 nav.topnav-secretary .submenu > a::after{background:#ffffff;}
.theme-1 nav.topnav-secretary .submenu .submenu > a{color:#ffffff;}
.theme-1 nav.topnav-secretary .submenu .submenu > a::before{background:#ffffff;}
.theme-1 nav.topnav-secretary.fade-in{background:transparent; border-color:transparent;}
.theme-1 nav.topnav-secretary.fade-in.sticky{background:#000000; border-color:#ffffff;}

.theme-2 nav.topnav-secretary{
    background:#000000; color:#ffff00; border-bottom:1px solid #ffff00;
}
.theme-2 nav.topnav-secretary .logo{color:#ffff00;}
.theme-2 nav.topnav-secretary .menu > a{color:#ffff00; border-color:#ffff00;}
.theme-2 nav.topnav-secretary .menu:hover > a, 
.theme-2 nav.topnav-secretary .menu.active > a{color:#000000; background:#ffff00;}
.theme-2 nav.topnav-secretary .menu:hover > a .num, 
.theme-2 nav.topnav-secretary .menu.active > a .num{color:#000000;}
.theme-2 nav.topnav-secretary .option{background:#ffff00; color:#000000;}
.theme-2 nav.topnav-secretary .hamburger > *{background:#ffff00;}
.theme-2 nav.topnav-secretary .submenu-dropdown{background:#000000; border:1px solid #ffff00;}
.theme-2 nav.topnav-secretary .submenu-block{border-color:#ffff00;}
.theme-2 nav.topnav-secretary .submenu-title{color:#ffff00;}
.theme-2 nav.topnav-secretary .submenu-block:first-child > .submenu-title{
    color:#ffff00; border-color:#ffff00;
}
.theme-2 nav.topnav-secretary .submenu > a{color:#ffff00;}
.theme-2 nav.topnav-secretary .submenu > a::after{background:#ffff00;}
.theme-2 nav.topnav-secretary .submenu .submenu > a{color:#ffff00;}
.theme-2 nav.topnav-secretary .submenu .submenu > a::before{background:#ffff00;}
.theme-2 nav.topnav-secretary.fade-in{background:transparent; border-color:transparent;}
.theme-2 nav.topnav-secretary.fade-in.sticky{background:#000000; border-color:#ffff00;}


/* Global Search Container */
.global-search-container > .wrapper{justify-content:center; padding-top:4.75rem;}
.global-search-container .content-container{
    position:relative; width:calc(100% - 3rem); height:calc(100% - 7rem); border-radius:1rem;
}
.global-search-container .btn-container{
    position:absolute; top:1.875rem; right:2rem; font-size:1.375rem; text-align:center;
    width:2.25rem; height:2.25rem; line-height:2.5rem; border-radius:50%;
}
.global-search-container .btn-container::after{
    content:''; position:absolute; top:2.5rem; right:.75rem;
    width:.75rem; height:.4375rem; clip-path:polygon(0 100%, 50% 0, 100% 100%);
}
@media screen and (max-width:1299.98px){
    .global-search-container .content-container{width:calc(100% - 2rem);}
    .global-search-container .btn-container{right:1rem;}
}
@media screen and (max-width:1199.98px){
    .global-search-container > .wrapper{padding-top:4rem;}
    .global-search-container .content-container{width:calc(100% - 3rem);}
    .global-search-container .btn-container{
        width:2.125rem; height:2.125rem; line-height:2.4375rem; top:1.1875rem; right:3.625rem;
    }
    .global-search-container .btn-container::after{top:2.375rem;}
}
@media screen and (max-width:575.98px){
    .global-search-container .content-container{width:calc(100% - 2rem);}
}

.global-search-container .btn-container:hover,
.global-search-container .btn-container{background:#ffb739; color:#ffffff;}
.global-search-container .btn-container::after{background:#ffffff;}

.theme-1 .global-search-container .btn-container:hover,
.theme-1 .global-search-container .btn-container{background:#ffffff; color:#000000;}
.theme-1 .global-search-container .btn-container::after{background:#ffffff;}

.theme-2 .global-search-container .btn-container:hover,
.theme-2 .global-search-container .btn-container{background:#ffff00; color:#000000;}
.theme-2 .global-search-container .btn-container::after{background:#ffff00;}


/* Accessibility Container */
.accessibility-container{
    position:fixed; top:calc(4.75rem + 1px); right:3rem; opacity:0; z-index:95;
    pointer-events:none; transition:opacity .25s;
}
.accessibility-container.active{opacity:1; pointer-events:auto;}
.accessibility-container > .wrapper{
    position:relative; padding:0 1.125rem 0 0; border:1px solid transparent;
    border-radius:1000em; box-shadow:0px 2px 8px 2px rgba(0,0,0,.15);
}
.accessibility-container .blocks{width:100%; display:flex; align-items:center;}
.accessibility-container .block{position:relative; margin:0 0 0 1.125rem; padding:.5625rem 0;}
.accessibility-container .text{
    display:inline-block; font-size:.8125rem; font-weight:500; margin:0 .1875rem 0 0;
}
.accessibility-container .btn.btn-circle{
    display:inline-block; width:1.5rem; height:1.5rem; line-height:1.5rem;
    padding:0; margin:0; font-size:.8125rem; text-align:center; border-radius:50%;
}
.accessibility-container .btn.font-size-btn{font-size:1rem; font-weight:500; line-height:1.4375rem;}
.accessibility-container .btn.theme-btn{font-size:.8125rem; font-weight:600;}
.accessibility-container .flag-wrapper{
    display:flex; align-items:center; padding:.125rem .375rem .125rem .125rem; width:5.5rem;
    font-size:.8125rem; font-weight:500; cursor:pointer; border-radius:1000em;
    transition:background .25s;
}
.accessibility-container .flag-icon{
    position:relative; display:block; width:1.25rem; height:1.25rem; border-radius:50%;
    background-size:cover; background-position:center;
}
.accessibility-container .flag-wrapper > .text{margin:.125rem .375rem 0 .375rem;}
.accessibility-container .flag-wrapper > em{
    position:absolute; top:0; bottom:0; right:.3125rem; display:flex; align-items:center;
    font-size:.5625rem; transform:translateY(.0625rem);
}
.accessibility-container .dropdown{border-radius:.25rem; border:1px solid transparent;}
.accessibility-container .dropdown .flag-wrapper{width:100;}
.accessibility-container .dropdown{
    position:absolute; top:100%; left:0; border-radius:.25rem;
    padding:.25rem 0; opacity:0; pointer-events:none; transition:opacity .25s;
}
.accessibility-container .block:hover > .dropdown{opacity:1; pointer-events:auto;}
.accessibility-container .circular{border-radius:50% 0 50% 50%!important;}
.accessibility-container .flag-wrapper.circular{border-radius:.75rem 0 .75rem .75rem!important;}
.accessibility-container .shadow{box-shadow:2px 2px 10px 4px rgba(0,0,0,0.20);}
.accessibility-container [data-theme="0"]{background:#ffffff!important; color:#000000!important;}
.accessibility-container [data-theme="1"]{background:#000000!important; color:#ffffff!important;}
.accessibility-container [data-theme="2"]{background:#000000!important; color:#ffff00!important;}
@media screen and (max-width:1199.98px){
    .accessibility-container{display:none!important;}
}
