/* Reset */
html, body{
    padding:0; margin:0; overflow-x:hidden; overflow-y:auto;
    font-size:16px; font-weight:300; line-height:1.50;
    font-family:'Sukhumvit', sans-serif;
}
body.loading{height:100vh!important; overflow-y:hidden!important;}

*{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; outline:none;}

a{transition:opacity .25s, color .25s;}
a, a:hover{text-decoration:none;}
a.link{text-decoration:underline; font-weight:400;}
a.link:hover{color:#fff;}

img.img{display:block; width:100%; height:auto;}
.fit{position:absolute; top:0; bottom:0; left:0; right:0;}
.img-fill{background-size:cover; background-position:center; background-repeat:no-repeat;}

input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea, button{
    font-family:'Sukhumvit', sans-serif;
}

@media screen and (max-width:991.98px){
    html.sidenav-opened, body.sidenav-opened{overflow-y:hidden!important;}
}


/* Section & Container */
.section-padding{padding:4rem 0;}
@media screen and (max-width:991.98px){
    .section-padding{padding:3rem 0;}
}
@media screen and (max-width:575.98px){
    .section-padding{padding:2.5rem 0;}
}
@media screen and (min-width:578px){
    .container{padding-left:0; padding-right:0;}
}


/* Typography */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, li{
    margin:0; font-weight:300; line-height:1.50;
}
/* h1, .h1{font-size:4.5625rem;} */
h2, .h2{font-size:3rem;}
/* h3, .h3{font-size:2.25rem;} */
h4, .h4{font-size:1.75rem;} h4.xl, .h4.xl{font-size:2.125rem;}
h4.lg, .h4.lg{font-size:2rem;}
h5, .h5{font-size:1.625rem;} h5.sm, .h5.sm{font-size:1.5rem;}
h6, .h6{font-size:1.3125rem;}
p, .p, li{font-size:.9375rem;} p.lg, .p.lg{font-size:1.125rem;}
p.md, .p.md{font-size:1.0625rem;} p.sm, .p.sm{font-size:.875rem;} 
p.xs, .p.xs{font-size:.8125rem;}
@media screen and (max-width:1199.98px){
    h2, .h2{font-size:2.875rem;}
    h4, .h4{font-size:1.6875rem;} h4.xl, .h4.xl{font-size:2rem;}
    h4.lg, .h4.lg{font-size:1.875rem;}
}
@media screen and (max-width:991.98px){
    h2, .h2{font-size:2.75rem;}
    h4, .h4{font-size:1.625rem;} h4.xl, .h4.xl{font-size:1.875rem;}
    h4.lg, .h4.lg{font-size:1.8125rem;}
    h5, .h5{font-size:1.5625rem;} h5.sm, .h5.sm{font-size:1.4375rem;}
}
@media screen and (max-width:767.98px){
    h2, .h2{font-size:2.5rem;}
    h4, .h4{font-size:1.5625rem;} h4.xl, .h4.xl{font-size:1.75rem;}
    h4.lg, .h4.lg{font-size:1.625rem;}
    h5, .h5{font-size:1.5rem;}
    h6, .h6{font-size:1.25rem;} h5.sm, .h5.sm{font-size:1.375rem;}
}
@media screen and (max-width:575.98px){
    h2, .h2{font-size:2.25rem;}
    h4, .h4{font-size:1.4375rem;} h4.xl, .h4.xl{font-size:1.625rem;}
    h4.lg, .h4.lg{font-size:1.5rem;}
    h5, .h5{font-size:1.375rem;} h5.sm, .h5.sm{font-size:1.25rem;}
    h6, .h6{font-size:1.125rem;}
    p, .p, li{font-size:.875rem;} p.lg, .p.lg{font-size:1.0625rem;} 
    p.md, .p.md{font-size:1rem;} p.sm, .p.sm{font-size:.8125rem;}
}


/* Buttons */
.btns{width:100%;}
.btn{display:inline-block; width:auto; height:auto; line-height:1.5; transition:all .25s;}

.btn.btn-action{
    font-size:.9375rem; font-weight:200; outline:none; box-shadow:none; text-decoration:none;
    padding:.625rem 2.125rem .5rem 2.125rem; border:0; white-space:nowrap;
}
.btn.btn-action em{transform:translateY(.0625rem);}

.btn.btn-social{
    font-size:.9375rem; width:1.875rem; height:1.875rem; padding:0; margin:0; border-radius:50%;
    line-height:2rem; text-align:center;
}

.btn.btn-round{border-radius:1000em;}

.btn.btn-sm{font-size:.875rem; padding:.5625rem 1.1875rem .4375rem 1.1875rem;}
.btn.btn-xs{font-size:.8125rem; padding:.3125rem 1rem;}


/* Clip Path */
.clip-path-01{clip-path:polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 0 100%);}
.clip-path-02{clip-path:polygon(0 0, calc(100% - .9rem) 0, 100% .9rem, 100% 100%, 0 100%);}


/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea{
    border:1px solid transparent; border-radius:.25rem; box-shadow:none!important;
    padding:.4375rem .875rem; font-size:1rem; font-weight:300; margin:0; line-height:1.5;
    outline:none!important; transition:border-color .25s, color .25s;
}
input[type=text].round, input[type=email].round, input[type=password].round, 
input[type=date].round, input[type=tel].round, input[type=number].round, input[type=phone].round,
input[type=submit].round, select.round, textarea.round{border-radius:1000em;}

/* Input Wrapper */
.select-wrapper, .search-wrapper{display:inline-block; position:relative;}
.select-wrapper::after, .search-wrapper::after{
    font:normal normal normal 14px/1 'Material-Design-Iconic-Font'; 
    position:absolute; top:0; bottom:0; right:.375rem; width:1.75rem; pointer-events:none;
    display:flex; align-items:center; justify-content:center;
}
.select-wrapper::after{content:'\f2f9'; font-size:1rem;}
.search-wrapper::after{content:'\f1c3'; font-size:1.125rem;}
.select-wrapper select, .search-wrapper select{
    -moz-appearance:none; -moz-appearance:none; -webkit-appearance:none; appearance:none;
}
.select-wrapper input, .select-wrapper select, .select-wrapper textarea,
.search-wrapper input, .search-wrapper select, .search-wrapper textarea{
    width:auto; max-width:100%; padding-right:2.25rem;
}

/* Input Form Group */
.form-group{margin:.25rem 0 0 0;}
.form-group label{margin:0 0 .125rem 0;}
.form-group .select-wrapper, .form-group .search-wrapper{display:block; width:100%;}
.form-group .form-control{width:100%; height:auto;}
.form-check{margin:.5rem 0 0 0;}
.form-check > label{
    font-size:.875rem; font-weight:300; padding:0 0 0 .1875rem;
    margin:.1875rem 0 0 0; cursor:pointer;
}
.form-check > input[type="checkbox"], .form-check > input[type="radio"]{
    font-size:1rem; width:1rem; height:1rem; cursor:pointer
}


/* Book Container */
.book-container{width:100%; height:580px; position:relative; border-radius:0; overflow:hidden;}
@media screen and (max-width:1199.98px){
    .book-container{height:500px;}
}
@media screen and (max-width:767.98px){
    .book-container{height:420px;}
}
@media screen and (max-width:575.98px){
    .book-container{height:320px;}
}


/* Captcha Container */
.captcha-container{width:100%; max-width:17.5rem;}
.captcha-container img{display:block; width:100%; height:auto;}


/* List Header */
.list-header{
    position:relative; width:100%; display:flex; align-items:center;
    justify-content:space-between; padding:.125rem 0; margin:0;
}
.list-header > .block{display:block;}
.list-header .option{
    display:inline-block; width:2.25rem; height:2.25rem; text-align:center;
    line-height:2.3125rem; font-size:1.0625rem; margin:0; padding:0;
    border-radius:1000em; border:1px solid transparent;
    transition:color .25s, border-color .25s, background .25s;
}
@media screen and (max-width:767.98px){
    .list-header{flex-wrap:wrap; justify-content:center;}
    .list-header > .block{width:100%; text-align:center; margin:0 0 .4375rem 0;}
    .list-header .select-wrapper, .list-header .search-wrapper{
        display:block; width:100%; max-width:18rem; margin:0 auto .3125rem auto;
    }
    .list-header .select-wrapper > *, .list-header .search-wrapper > *{width:100%;}
}

/* List Footer */
.list-footer{
    position:relative; width:100%; display:flex; align-items:center;
    justify-content:space-between; padding:.125rem 0; margin:2rem 0 0 0;
}
.list-footer > .block{display:flex; align-items:center;}
.list-footer .pagination{margin:0;}
.list-footer .text-wrapper{text-align:center; font-size:1.25rem; padding:.375rem 0; font-weight:300;}
.list-footer .select-wrapper::after{right:.125rem; font-size:.9375rem;}
.list-footer select{
    padding:.325rem 1.25rem .325rem .75rem; font-size:.9375rem; margin:0 0 0 .25rem;
}
@media screen and (max-width:767.98px){
    .list-footer{
        flex-wrap:wrap; justify-content:center; padding:.625rem 0; margin:1.5rem 0 0 0;
        border-bottom:1px solid transparent;
    }
    .list-footer > .block{width:100%;}
    .list-footer .text-wrapper{width:100%;}
}


/* Pagination */
.pagination{width:100%; padding:.625rem 0; text-align:center; margin:1.8125rem 0 0 0;}
.pagination.border-top{border-top:1px solid transparent;}
.pagination.border-bottom{border-bottom:1px solid transparent;}
.pagination > .wrapper{
    display:flex; width:100%; align-items:center; justify-content:center; flex-wrap:wrap;
}
.pagination .page-btn{
    display:inline-block; text-decoration:none; height:1.8375rem; width:1.8375rem;
    line-height:1.6875rem; font-size:.875rem; border-radius:.25rem; font-weight:400; padding:0;
    margin:.125rem; border:1.8px solid transparent; border-radius:50%; text-align:center;
    transition:background .25s, color .25s, border-color .25s;
}
.pagination .page-btn.active{font-weight:500;}
.pagination .page-btn.page-first, .pagination .page-btn.page-prev, .pagination .page-btn.page-next,
.pagination .page-btn.page-last{line-height:1.75rem;}
.pagination .page-btn.disabled{opacity:.5; pointer-events:none;}
.pagination .btn{margin:0 0 0 .375rem;}


/* Popup */
.popup-container{
    display:block; position:fixed; top:0; left:0; width:100vw; height:100vh; z-index:100;
    opacity:0; pointer-events:none; background:rgba(0,0,0,.7); transition:opacity .45s;
}
.popup-container.active{opacity:1; pointer-events:all;}
.popup-container > .wrapper{
    position:relative; width:100%; height:100%; padding:1.5rem;; display:flex; align-items:center;
}
.popup-container > .wrapper > .close-filter{
    position:fixed; top:0; bottom:0; left:0; right:0; opacity:0; cursor:pointer;
}
.popup-container .popup-box{
    display:flex; position:relative; width:100%; max-width:52rem; overflow:hidden; margin:0 auto;
}
.popup-container .popup-box > .content-container{
    display:block; width:calc(100% - 3.75rem); padding:1.25rem; border:2px solid transparent;
}
.popup-container .popup-box > .btn-close{
    display:block; width:3.75rem; height:3.75rem; line-height:3.9375rem; text-align:center;
    font-size:2.375rem; border:2px solid transparent; transition:background .25s;
}
.popup-container .popup-box .img-container{position:relative; width:calc(100% - .5rem); height:100%;}
@media screen and (max-width:991.98px){
    .popup-container .popup-box .img-container{width:100%;}
}
@media screen and (max-width:767.98px){
    .popup-container .popup-box > .content-container{width:calc(100% - 3rem); padding:1rem;}
    .popup-container .popup-box > .btn-close{
        width:3rem; height:3rem; line-height:3.125rem; font-size:2.125rem;
    }
    .popup-container .popup-box .img-container{max-width:21rem; height:15rem;}
}
@media screen and (max-width:575.98px){
    .popup-container > .wrapper{padding:1rem;}
    .popup-container .popup-box > .content-container{width:calc(100% - 2.25rem);}
    .popup-container .popup-box > .btn-close{
        width:2.25rem; height:2.25rem; line-height:2.375rem; font-size:1.625rem;
    }
    .popup-container .popup-box .img-container{max-width:16rem; height:10rem;}
}


/* Post Content */
.post-content{display:block; width:100%; max-width:54rem; margin:2rem auto 0 auto;}

/* Post Footer */
.post-footer{
    width:100%; display:flex; align-items:flex-start; justify-content:space-between;
    flex-wrap:wrap; padding:0; margin:2rem 0 0 0;
}
.post-footer > .block{display:flex; align-items:center; flex-wrap:wrap; margin:.1875rem 0;}
.post-footer .toggle-target{top:calc(100% + .5rem); left:0; width:13rem;}
.post-footer .toggle-target textarea{width:100%; pointer-events:none;}
@media screen and (max-width:767.98px){
    .post-footer > .block{width:100%; justify-content:center;}
}

/* Post Stat */
.post-stat{
    width:100%; display:flex; align-items:center; justify-content:space-between;
    flex-wrap:wrap; margin:0;
}
.post-stat > .block{display:flex; align-items:center; flex-wrap:wrap; margin:0;}
.post-stat .stat{
    display:flex; align-items:center; font-size:.875rem; white-space:nowrap;
    margin:.1875rem 1.5rem .1875rem 0; font-weight:400;
}
.post-stat .stat:last-child{margin-right:0;}
.post-stat .stat em{
    display:block; width:1.3125rem; height:1.3125rem; line-height:1.375rem;
    border-radius:50%; font-size:.625rem; margin:0 .4375rem 0 0; text-align:center;
}
@media screen and (max-width:575.98px){
    .post-stat > .block{width:100%; justify-content:center;}
}

/* Post Video */
.post-video{display:block; width:100%; max-width:44rem; margin:0 auto;}
.post-video > .wrapper{position:relative; width:100%; padding:56% 0 0 0;}
.post-video video, .post-video iframe{width:100%; height:100%;}


/* Scroll Wrapper */
.scroll-wrapper{width:100%; overflow:hidden;}
.scroll-x-wrapper{width:100%; overflow-x:auto; overflow-y:hidden; padding:0 0 .875rem 0;}
.scroll-y-wrapper{width:100%; overflow-x:hidden; overflow-y:auto; padding:0 .875rem 0 0;}


/* Special Box */
.ss-box{display:block; width:100%; max-width:30rem; margin:0 auto;}


/* Special Card */
.ss-card{width:100%;}
.ss-card .text-container .title, .ss-card .text-container .desc{
    display:block; display:-webkit-box; text-overflow:ellipsis; overflow:hidden;
    -webkit-box-orient:vertical; transition:color .25s;
}

/* Special Card 01 */
.ss-card-01{display:flex; justify-content:space-between; padding:.75rem 0;}
.ss-card-01 .icon-container{width:3rem;}
.ss-card-01 .icon-container .icon{
    width:2rem; height:2rem; border-radius:50%; text-align:center; font-size:1.375rem;
    line-height:2.25rem; margin:.3125rem 0 0 0;
}
.ss-card-01 .text-container{width:calc(100% - 3rem);}
.ss-card-01 .text-container .title{margin:0 0 .25rem 0;}
@media screen and (max-width:767.98px){
    .ss-card-01{padding:.625rem 0;}
}

/* Special Card 02 */
.ss-card-02 .text-container{padding:1rem; transition:background .25s;}
.ss-card-02 .text-container .title{-webkit-line-clamp:3; min-height:4.6875rem;}
.ss-card-02 .text-container .desc{-webkit-line-clamp:4; min-height:4.8125rem;}
.ss-card-02 .text-container .arrow{
    margin:1rem 0 0 0; font-size:1.875rem; line-height:.8; transition:color .25s;
}
@media screen and (max-width:575.98px){
    .ss-card-02 .text-container .title, .ss-card-02 .text-container .desc{
        -webkit-line-clamp:unset; min-height:0;
    }
}


/* Special Icon Title */
.ss-icon-title{
    width:100%; display:flex; align-items:flex-start; margin:1rem 0 0 0;
    padding:1.625rem 0 0 0;
}
.ss-icon-title > em{
    display:block; width:2.375rem; height:2.375rem; line-height:2.4375rem; text-align:center; 
    font-size:1.1875rem; border-radius:50%; margin:0 .6875rem 0 0; transform:translateY(-.25rem);
}
.ss-icon-title > .text-wrapper{width:calc(100% - 3rem);}
.ss-icon-title + .grids{margin-top:-.5rem!important;}
@media screen and (max-width:991.98px){
    .ss-icon-title{margin:.875rem 0 0 0; padding:1.4375rem 0 0 0;}
    .ss-icon-title > em{width:2.25rem; height:2.25rem; line-height:2.3125rem; font-size:1.125rem;}
    .ss-icon-title > .text-wrapper{width:calc(100% - 2.9375rem);}
}
@media screen and (max-width:767.98px){
    .ss-icon-title{margin:.75rem 0 0 0; padding:1.25rem 0 0 0;}
    .ss-icon-title > em{width:2rem; height:2rem; line-height:2.0625rem; font-size:1rem;}
    .ss-icon-title > .text-wrapper{width:calc(100% - 2.6875rem);}
}


/* Special Image */
.ss-img{display:block; position:relative; width:100%; padding:60% 0 0 0; overflow:hidden;}
.ss-img.horizontal{padding:54% 0 0 0;}
.ss-img.square{padding:100% 0 0 0;}
.ss-img.vertical{padding:140% 0 0 0;}
.ss-img > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center; transition:transform .3s;
}
.ss-img:hover > .img-bg, .ss-card:hover .ss-img > .img-bg{transform:scale(1.1);}

.ss-img .hover-container{
    position:absolute; top:0; bottom:0; left:0; right:0; opacity:0;
    display:flex; justify-content:center; align-items:center; transition:opacity .25s;
}
.ss-img:hover .hover-container, .ss-card:hover .ss-img .hover-container{opacity:1;}
.ss-img .hover-container .icon{display:block; width:4rem;}
.ss-img .hover-container .icon > img{display:block; width:100%; height:auto;}

.ss-img .play-container{
    position:absolute; top:0; bottom:0; left:0; right:0; transition:transform .25s;
    display:flex; justify-content:center; align-items:center;
}
.ss-img .play-container .icon{
    display:block; width:4rem; height:4rem; border-radius:50%; border:5px solid transparent;
    font-size:2.25rem; text-align:center; line-height:4rem;
}


/* Special Stat */
.ss-stat{width:100%; display:flex; flex-wrap:wrap; margin:.25rem 0 .625rem 0;}
.ss-stat .stat{
    display:flex; align-items:center; white-space:nowrap; margin:.1875rem 1.25rem 0 0;
    font-size:.8125rem; font-weight:600; transition:color .25s;
}
.ss-stat .stat:last-child{margin-right:0;}


/* Special Tag */
.ss-tag{
    display:inline-block; font-size:.8125rem; padding:.1875rem 1rem; font-weight:500;
    border-radius:1000em; cursor:pointer; white-space:nowrap; margin-top:.0625rem;
    margin-bottom:.0625rem; transition:color .25s, background .25s;
}


/* Table */
table.table{width:100%; border-spacing:0; border:0; margin:0;}
table.table th, table.table td{
    vertical-align:middle; border-color:transparent;
    border-left:0!important; border-right:0!important;
}
table.table td{
    padding:.562rem .625rem; font-size:.9375rem; font-weight:300;
    border:0; border-bottom:1px solid transparent;
}
table.table td:first-child{padding:.562rem .625rem .562rem 0;}
table.table tr:last-child > td{border-bottom:0;}
table.table td:last-child{padding:.562rem 0 .562rem .625rem; text-align:right;}
table.table .sep{
    display:inline-block; width:1px; height:.8125rem; margin:0 .5rem;
    transform:translateY(.125rem);
}


/* Toggle Target */
.toggle-target{
    display:block; opacity:0; pointer-events:none; transition:opacity .25s;
    border:1px solid transparent; box-shadow:0 0 16px 8px rgba(0,0,0,.05);
    padding:.5rem; position:absolute; z-index:10;
}
.toggle-target.active{opacity:1; pointer-events:auto;}


/* Utility */
.text-3xl{font-size:240%!important; line-height:.25;}
.text-2xl{font-size:150%!important; line-height:.25;}
.text-xl{font-size:128%!important;}
.text-lg{font-size:114%!important;}
.text-md{font-size:110%!important;}
.text-nm{font-size:.9375rem!important;}
.text-sm{font-size:90%!important;}
.text-xs{font-size:80%!important;}
.text-2xs{font-size:70%!important;}
.text-3xs{font-size:60%!important;}

.fw-100{font-weight:100!important;}
.fw-200{font-weight:200!important;}
.fw-300{font-weight:300!important;}
.fw-400{font-weight:400!important;}
.fw-500{font-weight:500!important;}
.fw-600{font-weight:600!important;}
.fw-700{font-weight:700!important;}
.fw-800{font-weight:800!important;}
.fw-900{font-weight:900!important;}

.lh-xl{line-height:2.00;}
.lh-lg{line-height:1.90;}
.lh-nm{line-height:1.50;}
.lh-sm{line-height:1.40;}
.lh-xs{line-height:1.25;}

.op-100{opacity:1!important;} .op-0{opacity:0!important;}
.op-10{opacity:.1!important;} .op-20{opacity:.2!important;} .op-30{opacity:.3!important;}
.op-40{opacity:.4!important;} .op-50{opacity:.5!important;} .op-60{opacity:.6!important;}
.op-70{opacity:.7!important;} .op-80{opacity:.8!important;} .op-90{opacity:.9!important;}

.d-block{display:block!important;}
.d-flex{display:flex!important;}
.d-inline{display:inline!important;}
.d-inline-block{display:inline-block!important;}
.d-none{display:none!important;}

.jc-start{justify-content:flex-start!important;}
.jc-center{justify-content:center!important;}
.jc-end{justify-content:flex-end!important;}
.jc-space-between{justify-content:space-between!important;}
.jc-space-evenly{justify-content:space-evenly!important;}
.ai-center{align-items:center!important;}
.ai-start{align-items:flex-start!important;}
.ai-end{align-items:flex-end!important;}
.fw-wrap{flex-wrap:wrap!important;}

.width-auto{width:auto!important;}
.width-full{width:100%!important; max-width:100%!important;}
.height-auto{height:auto!important;}

.ws-nowrap{white-space:nowrap!important;}
.ws-normal{white-space:normal!important;}
.no-br > br{display:none;}

.no-border{border:0!important;}
.no-border-bottom{border-bottom:0!important;}
.border{border:1px solid transparent!important;}
.border-top{border-top:1px solid transparent!important;}
.border-top-2{border-top:2px solid transparent!important;}
.border-top-4{border-top:4px solid transparent!important;}
.border-bottom{border-bottom:1px solid transparent!important;}
.border-bottom-2{border-bottom:2px solid transparent!important;}
.border-bottom-4{border-bottom:4px solid transparent!important;}

.no-bradius{border-radius:0!important;}
.no-padding{padding:0!important;}
.box-shadow{box-shadow:0px 5px 20px 10px rgba(0,0,0,.1);}

.ovf-hidden{overflow:hidden;}
.clear-both{clear:both;}

@media screen and (max-width:1199.98px){
    .lg-no-br > br{display:none;}
}
@media screen and (max-width:991.98px){
    .md-no-br > br{display:none;}
}
@media screen and (max-width:767.98px){
    .sm-no-br > br{display:none;}
}
@media screen and (max-width:575.98px){
    .xs-no-br > br{display:none;}
    .xs-hide{display:none;}
}
