
/* Topnav Minisite */
nav.topnav-minisite{
    position:fixed; top:0; left:0; width:100%; z-index:95;
    box-shadow:0px 2px 8px 2px rgba(0,0,0,.15); transition:transform .25s;
}
nav.topnav-minisite .blocks{width:100%; display:flex; align-items:center;}
nav.topnav-minisite .logo{
    display:flex; white-space:nowrap; margin:0 1.25rem 0 0; transition:opacity .25s;
}
nav.topnav-minisite .logo:hover{opacity:.7;}
nav.topnav-minisite .logo img{display:block; height:4rem; width:auto; margin:0 .625rem 0 0;}
nav.topnav-minisite .logo h6{font-size:.8125rem; font-weight:500; margin:1.4375rem 0 0 0;}
nav.topnav-minisite .logo p{font-size:1.5rem; font-weight:200; line-height:1.1;}
nav.topnav-minisite .right-container{width:100%;}
nav.topnav-minisite .option-container{position:relative; width:100%;}
nav.topnav-minisite .option-container::before{
    content:''; position:absolute; top:0; bottom:0; left:0; width:100vw;
}
nav.topnav-minisite .option-container .blocks{position:relative; justify-content:flex-end;}
nav.topnav-minisite .option-container .block{
    position:relative; margin:0 0 0 1.125rem; padding:.5rem 0;
}
nav.topnav-minisite .option-container .text{
    display:inline-block; font-size:.8125rem; font-weight:500; margin:0 .1875rem 0 0;
}
nav.topnav-minisite .btn.btn-circle{
    position:relative; display:inline-block; width:1.5rem; height:1.5rem; line-height:1.5rem;
    padding:0; margin:0; font-size:.8125rem; border:1px solid transparent;
    text-align:center; border-radius:50%;
}
nav.topnav-minisite .btn.font-size-btn{font-size:1rem; font-weight:500; line-height:1.4375rem;}
nav.topnav-minisite .btn.theme-btn{font-size:.8125rem; font-weight:600;}
nav.topnav-minisite .btn.flag-btn{overflow:hidden;}
nav.topnav-minisite .btn.flag-btn > .flag-icon{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center; background-repeat:no-repeat; filter:grayscale(100%);
    transition:all .25s;
}
nav.topnav-minisite .btn.flag-btn:hover > .flag-icon,
nav.topnav-minisite .btn.flag-btn.active > .flag-icon{filter:grayscale(0);}
nav.topnav-minisite .bottom-container{
    position:relative; width:100%; display:flex; align-items:center; justify-content:space-between;
}
nav.topnav-minisite .bottom-container::before{
    content:''; position:absolute; top:0; bottom:0; left:0; width:100vw;
}
nav.topnav-minisite .menu-container{
    position:relative; display:flex; width:calc(100% - 3.5rem); align-items:center;
}
nav.topnav-minisite .menu{display:block; position:relative;}
nav.topnav-minisite .menu > a{
    display:block; white-space:nowrap; padding:1.125rem 1rem 1rem 1rem;
    font-size:.9375rem; font-weight:300; transition:background .25s, color .25s;
}
nav.topnav-minisite .submenu-dropdown{
    position:absolute; top:calc(100% + .5rem); left:0;
    box-shadow:0px 4px 8px 4px rgba(0,0,0,.15);
    opacity:0; pointer-events:none; transition:opacity .5s, top .5s;
}
nav.topnav-minisite .menu:hover > .submenu-dropdown{opacity:1; top:100%; pointer-events:auto;}
nav.topnav-minisite .submenu-dropdown.anchor-right{left:auto; right:0;}
nav.topnav-minisite .submenu-dropdown.anchor-middle{transform:translateX(-50%);}
nav.topnav-minisite .submenu-blocks{position:relative; display:flex;}
nav.topnav-minisite .submenu-block{
    display:block; width:280px; padding:0 0 2rem 0; border-left:1px solid transparent;
}
nav.topnav-minisite .submenu-block:first-child{border:0;}
nav.topnav-minisite .submenu-title{
    display:block; width:100%; padding:.75rem 1rem .3125rem calc(1.25rem - 4px);
    font-size:1.3125rem; font-weight:600; border-left:4px solid transparent;
}
nav.topnav-minisite .submenu{position:relative;}
nav.topnav-minisite .submenu > a{
    display:block; position:relative; width:100%; margin:0; padding:.5rem .5rem .5rem 1.25rem;
    font-size:.875rem; font-weight:500; transition:background .25s, color .25s;
}
nav.topnav-minisite .submenu > a::after{
    content:''; position:absolute; bottom:0; left:1rem; right:0; height:1px;
}
nav.topnav-minisite .submenu > .submenu-block{position:relative; padding:0 0 0 1rem; border:0;}
nav.topnav-minisite .submenu .submenu > a::before{
    content:''; position:absolute; top:1rem; left:.3125rem; width:.3125rem; height:.3125rem;
}
nav.topnav-minisite .icon-container{width:3.5rem; position:relative; display:flex;}
nav.topnav-minisite .icon-container > .option{
    display:flex; align-items:center; justify-content:center; width:3.5rem; height:3.5625rem;
    font-size:2rem; transition:background .25s, color .25s;
}
nav.topnav-minisite .show-mobile{display:none!important;}
nav.topnav-minisite + .topnav-spacer{display:block; width:100%; height:6.0625rem;}
@media screen and (max-width:1199.98px){
    nav.topnav-minisite .show-mobile{display:flex!important;}
    nav.topnav-minisite .bottom-container{justify-content:flex-end;}
    nav.topnav-minisite .menu-container{display:none;}
    nav.topnav-minisite .icon-container{width:auto;}
}
@media screen and (max-width:991.98px){
    nav.topnav-minisite .logo{margin:0 1rem 0 0; align-items:center;}
    nav.topnav-minisite .logo img{height:3.25rem; margin:0 .625rem 0 0;}
    nav.topnav-minisite .logo h6{font-size:.75rem; font-weight:500; margin:0;}
    nav.topnav-minisite .logo p{font-size:1.375rem; font-weight:300;}
    nav.topnav-minisite .option-container{display:none;}
    nav.topnav-minisite .bottom-container::before{display:none;}
    nav.topnav-minisite .icon-container > .option{width:3.5rem; height:4rem;}
    nav.topnav-minisite + .topnav-spacer{height:4rem;}
}

nav.topnav-minisite{background:#ffffff;}
nav.topnav-minisite .logo{color:#212120;}
nav.topnav-minisite .logo p{color:#fe4d01;}
nav.topnav-minisite .option-container::before{background:#ededed;}
nav.topnav-minisite .bottom-container::before{background:#fe4d01;}
nav.topnav-minisite .btn.font-size-btn{color:#ffffff;}
nav.topnav-minisite .btn.font-size-btn[data-size="-1"]{background:#785631;}
nav.topnav-minisite .btn.font-size-btn[data-size="0"]{background:#ebb015;}
nav.topnav-minisite .btn.font-size-btn[data-size="1"]{background:#ef4d34;}
nav.topnav-minisite .btn.theme-btn{color:#000000; background:#ffffff; border-color:#000000;}
nav.topnav-minisite .btn.theme-btn[data-theme="1"]{color:#ffffff; background:#000000;}
nav.topnav-minisite .btn.theme-btn[data-theme="2"]{color:#ecce24; background:#000000;}
nav.topnav-minisite .menu > a{color:#ffffff;}
nav.topnav-minisite .menu:hover > a, nav.topnav-minisite .menu.active > a{background:#d6412a;}
nav.topnav-minisite .submenu-dropdown{background:#ffffff;}
nav.topnav-minisite .submenu-block{border-color:#e1e1e1;}
nav.topnav-minisite .submenu-title{color:#ffffff;}
nav.topnav-minisite .submenu-block:first-child > .submenu-title{
    color:#fe4d01; border-color:#fe4d01;
}
nav.topnav-minisite .submenu > a{color:#000000;}
nav.topnav-minisite .submenu:hover > a{color:#ffb739;}
nav.topnav-minisite .submenu > a::after{background:#e1e1e1;}
nav.topnav-minisite .submenu .submenu > a{color:#666666;}
nav.topnav-minisite .submenu .submenu:hover > a{color:#ffb739;}
nav.topnav-minisite .submenu .submenu > a::before{background:#fe4d01;}
nav.topnav-minisite .icon-container > .option{background:#212121; color:#ffffff;}
nav.topnav-minisite .icon-container > .option:hover,
nav.topnav-minisite .icon-container > .option.active{background:#d6412a;}
nav.topnav-minisite .hamburger > *{background:#ffffff;}

.theme-1 nav.topnav-minisite{background:#000000; border-bottom:1px solid #ffffff;}
.theme-1 nav.topnav-minisite .logo{color:#ffffff;}
.theme-1 nav.topnav-minisite .logo p{color:#ffffff;}
.theme-1 nav.topnav-minisite .right-container{border-left:1px solid #ffffff;}
.theme-1 nav.topnav-minisite .option-container::before{background:none;}
.theme-1 nav.topnav-minisite .bottom-container::before{
    bottom:auto; height:1px; background:#ffffff;
}
.theme-1 nav.topnav-minisite .btn.theme-btn[data-theme="1"]{border-color:#ffffff;}
.theme-1 nav.topnav-minisite .btn.theme-btn[data-theme="2"]{border-color:#ffffff;}
.theme-1 nav.topnav-minisite .menu > a{color:#ffffff;}
.theme-1 nav.topnav-minisite .menu:hover > a, 
.theme-1 nav.topnav-minisite .menu.active > a{background:#ffffff; color:#000000;}
.theme-1 nav.topnav-minisite .submenu-dropdown{background:#000000; border:1px solid #ffffff;}
.theme-1 nav.topnav-minisite .submenu-block{border-color:#ffffff;}
.theme-1 nav.topnav-minisite .submenu-title{color:#ffffff;}
.theme-1 nav.topnav-minisite .submenu-block:first-child > .submenu-title{
    color:#ffffff; border-color:#ffffff;
}
.theme-1 nav.topnav-minisite .submenu > a{color:#ffffff;}
.theme-1 nav.topnav-minisite .submenu > a::after{background:#ffffff;}
.theme-1 nav.topnav-minisite .submenu .submenu > a{color:#ffffff;}
.theme-1 nav.topnav-minisite .submenu .submenu:hover > a{color:#ffffff;}
.theme-1 nav.topnav-minisite .submenu .submenu > a::before{background:#ffffff;}
.theme-1 nav.topnav-minisite .icon-container > .option{background:#ffffff; color:#000000;}
.theme-1 nav.topnav-minisite .hamburger > *{background:#000000;}

.theme-2 nav.topnav-minisite{background:#000000; border-bottom:1px solid #ffff00;}
.theme-2 nav.topnav-minisite .logo{color:#ffff00;}
.theme-2 nav.topnav-minisite .logo p{color:#ffff00;}
.theme-2 nav.topnav-minisite .right-container{border-left:1px solid #ffff00;}
.theme-2 nav.topnav-minisite .option-container::before{background:none;}
.theme-2 nav.topnav-minisite .bottom-container::before{
    bottom:auto; height:1px; background:#ffff00;
}
.theme-2 nav.topnav-minisite .btn.theme-btn[data-theme="1"]{border-color:#ffff00;}
.theme-2 nav.topnav-minisite .btn.theme-btn[data-theme="2"]{border-color:#ffff00;}
.theme-2 nav.topnav-minisite .menu > a{color:#ffff00;}
.theme-2 nav.topnav-minisite .menu:hover > a, 
.theme-2 nav.topnav-minisite .menu.active > a{background:#ffff00; color:#000000;}
.theme-2 nav.topnav-minisite .submenu-dropdown{background:#000000; border:1px solid #ffff00;}
.theme-2 nav.topnav-minisite .submenu-block{border-color:#ffff00;}
.theme-2 nav.topnav-minisite .submenu-title{color:#ffff00;}
.theme-2 nav.topnav-minisite .submenu-block:first-child > .submenu-title{
    color:#ffff00; border-color:#ffff00;
}
.theme-2 nav.topnav-minisite .submenu > a{color:#ffff00;}
.theme-2 nav.topnav-minisite .submenu > a::after{background:#ffff00;}
.theme-2 nav.topnav-minisite .submenu .submenu > a{color:#ffff00;}
.theme-2 nav.topnav-minisite .submenu .submenu:hover > a{color:#ffff00;}
.theme-2 nav.topnav-minisite .submenu .submenu > a::before{background:#ffff00;}
.theme-2 nav.topnav-minisite .icon-container > .option{background:#ffff00; color:#000000;}
.theme-2 nav.topnav-minisite .hamburger > *{background:#000000;}

nav.topnav-minisite .btnx:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.1);}
nav.topnav-minisite .btn:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.2);}


/* Global Search Container */
.global-search-container > .wrapper{display:block; padding-top:2.5625rem;}
.global-search-container .btn-container{
    width:3.5rem; height:3.5625rem; font-size:2rem; margin:0 0 0 auto;
}
.global-search-container .content-container{width:100%; height:calc(100vh - 10rem);}
@media screen and (max-width:1199.98px){
    .global-search-container .btn-container{margin:0 3.5rem 0 auto;}
}
@media screen and (max-width:991.98px){
    .global-search-container > .wrapper{padding-top:0;}
    .global-search-container .btn-container{width:3.5rem; height:4rem;}
}

.global-search-container .btn-container{background:#d6412a; color:#ffffff;}
.theme-1 .global-search-container .btn-container{background:#ffffff; color:#000000;}
.theme-2 .global-search-container .btn-container{background:#ffff00; color:#000000;}



/* Footer Minisite */
nav.footer-minisite{width:100%;}
nav.footer-minisite > .top-container{width:100%; padding:0 0 1.5rem 0;}
nav.footer-minisite > .bottom-container{width:100%; padding:1rem 0 2.75rem 0;}
nav.footer-minisite .slide-container{
    position:relative; width:100%; border-bottom:4px solid transparent; padding:1.5rem 2.625rem;
}
nav.footer-minisite .slides{padding:0 0 1px 0;}
nav.footer-minisite .slide{padding:0 .375rem;}
nav.footer-minisite .slide > .wrapper{
    position:relative; display:block; width:100%; padding:30% 0 0 0;
    border:1px solid transparent; transition:opacity .25s;
}
nav.footer-minisite .slide:hover > .wrapper{opacity:.7;}
nav.footer-minisite .slide .img-wrapper{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    justify-content:center;
}
nav.footer-minisite .slide img{
    display:block; width:auto; max-width:calc(100% - 1rem);
    height:auto; max-height:calc(100% - 1.5rem);
}
nav.footer-minisite .arrows{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    justify-content:space-between; pointer-events:none;
}
nav.footer-minisite .arrows .slick-arrow{
    display:block; background:none; box-shadow:none; text-decoration:none; outline:none;
    width:2.25rem; height:2.25rem; line-height:2.25rem; border-radius:50%; text-align:center;
    border:0; font-size:0; padding:0; margin:0; pointer-events:auto; transition:opacity .25s;
}
nav.footer-minisite .arrows .slick-arrow:hover{opacity:.7;}
nav.footer-minisite .arrows .slick-arrow::before{
    font:normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size:1.625rem; line-height:2.375rem;
}
nav.footer-minisite .arrows .slick-arrow.slick-prev::before{content:'\f2fa';}
nav.footer-minisite .arrows .slick-arrow.slick-next::before{content:'\f2fb';}
nav.footer-minisite .blocks{width:100%; display:flex; justify-content:space-between; flex-wrap:wrap;}
nav.footer-minisite .block.left-block{width:calc(100% - 15.5rem);}
nav.footer-minisite .block.right-block{width:15.5rem;}
nav.footer-minisite .block.left-block .block{width:50%;}
nav.footer-minisite .block-header{
    display:flex; align-items:center; width:100%; height:2.875rem;
    border-bottom:1px solid transparent;
}
nav.footer-minisite .block.right-block .block-header{justify-content:flex-end;}
nav.footer-minisite .block-footer{
    width:100%; display:flex; align-items:center; justify-content:flex-end;
    flex-wrap:wrap; margin:6.5rem 0 0 0;
}
nav.footer-minisite .info{
    width:100%; display:flex; align-items:center; margin:.75rem 0 0 0; padding:0 1rem 0 0;
}
nav.footer-minisite .info .icon{
    display:block; width:2.25rem; height:2.25rem; line-height:2.5rem; border-radius:50%;
    text-align:center; margin:0 .75rem 0 0; font-size:1rem;
}
nav.footer-minisite .info .text-wrapper{width:calc(100% - 3rem); padding:.25rem 0 0 0;}
nav.footer-minisite .btn.btn-social{margin:.0625rem 0 .0625rem .25rem;}
nav.footer-minisite .sep{
    display:inline-block; margin:0 .4375rem; font-size:.625rem; transform:translateY(-.125rem);
}
nav.footer-minisite .visitor-count{
    display:flex; align-items:center; justify-content:flex-end; margin:0;
}
nav.footer-minisite .visitor-count > *{
    display:inline-block; width:1.1875rem; height:1.625rem; line-height:1.625rem;
    text-align:center; font-size:1rem; font-weight:600; margin:0 0 0 .0625rem;
}
@media screen and (max-width:991.98px){
    nav.footer-minisite > .top-container{padding:0 0 1.5rem 0;}
    nav.footer-minisite .slide-container{padding:1.25rem 2.5rem;}
    nav.footer-minisite .block{width:100%;}
    nav.footer-minisite .block.left-block, nav.footer-minisite .block.right-block{width:100%;}
    nav.footer-minisite .block.right-block{margin:1.5rem 0 0 0; border-top:4px solid transparent;}
    nav.footer-minisite .block.right-block .block-header{justify-content:unset;}
    nav.footer-minisite .block-footer{justify-content:unset; margin:1rem 0 0 0;}
    nav.footer-minisite > .bottom-container{padding:1rem 0 1.5rem 0;}
    nav.footer-minisite > .bottom-container .block{margin:0 0 1.25rem 0;}
}
@media screen and (max-width:767.98px){
    nav.footer-minisite .slide{padding:0 .25rem;}
    nav.footer-minisite .block.right-block{margin:.5rem 0 0 0;}
    nav.footer-minisite .block.left-block .block{width:100%; margin:0 0 .75rem 0;}
    nav.footer-minisite .info{margin:.6875rem 0 0 0; padding:0;}
}
@media screen and (max-width:575.98px){
    nav.footer-minisite .slide-container{padding:1rem 2rem;}
    nav.footer-minisite .slide img{max-width:calc(100% - .75rem); max-height:calc(100% - .75rem);}
    nav.footer-minisite .arrows .slick-arrow{width:1.75rem; height:1.75rem; line-height:1.875rem;}
    nav.footer-minisite .arrows .slick-arrow::before{font-size:1.375rem; line-height:1.875rem;}
    nav.footer-minisite .info .icon{
        width:1.75rem; height:1.75rem; line-height:1.875rem; margin:0 .5rem 0 0; font-size:.8125rem;
    }
    nav.footer-minisite .info .text-wrapper{width:calc(100% - 2.25rem); padding:.125rem 0 0 0;}
}

nav.footer-minisite > .bottom-container{background:#e9e9e9;}
nav.footer-minisite .slide-container, nav.footer-minisite .block.right-block{border-color:#363434;}
nav.footer-minisite .slide > .wrapper{background:#ffffff; border-color:#e5e5e5;}
nav.footer-minisite .arrows .slick-arrow, 
nav.footer-minisite .info .icon{background:#ff4917; color:#ffffff;}
nav.footer-minisite .block-header{border-color:#afaeae;}
nav.footer-minisite .btn.btn-social{
    background:#ffffff; color:#ff4917; border-color:#ff4917;
}
nav.footer-minisite .btn.btn-social:hover{background:#ff4917; color:#ffffff;}
nav.footer-minisite .quicklinks > a, nav.footer-minisite .sep{color:#3a3a39;}
nav.footer-minisite .quicklinks > a:hover{color:#ffb739;}
nav.footer-minisite .visitor-count > *{background:#29292a; color:#ff4917;}

.theme-1 nav.footer-minisite > .bottom-container,
.theme-1 nav.footer-minisite{background:#000000; border-top:1px solid #ffffff;}
.theme-1 nav.footer-minisite .slide-container, 
.theme-1 nav.footer-minisite .block.right-block{border-color:#ffffff;}
.theme-1 nav.footer-minisite .slide > .wrapper{background:#000000; border-color:#ffffff;}
.theme-1 nav.footer-minisite .arrows .slick-arrow, 
.theme-1 nav.footer-minisite .info .icon{background:#ffffff; color:#000000;}
.theme-1 nav.footer-minisite .block-header{border-color:#ffffff;}
.theme-1 nav.footer-minisite .btn.btn-social{
    background:#ffffff; color:#000000; border-color:#ffffff;
}
.theme-1 nav.footer-minisite .btn.btn-social:hover{background:#ffffff; color:#000000;}
.theme-1 nav.footer-minisite .quicklinks > a, .theme-1 nav.footer-minisite .sep{color:#ffffff;}
.theme-1 nav.footer-minisite .quicklinks > a:hover{color:#ffffff;}
.theme-1 nav.footer-minisite .visitor-count > *{background:#ffffff; color:#000000;}

.theme-2 nav.footer-minisite > .bottom-container,
.theme-2 nav.footer-minisite{background:#000000; border-top:1px solid #ffff00;}
.theme-2 nav.footer-minisite .slide-container, 
.theme-2 nav.footer-minisite .block.right-block{border-color:#ffff00;}
.theme-2 nav.footer-minisite .slide > .wrapper{background:#000000; border-color:#ffff00;}
.theme-2 nav.footer-minisite .arrows .slick-arrow, 
.theme-2 nav.footer-minisite .info .icon{background:#ffff00; color:#000000;}
.theme-2 nav.footer-minisite .block-header{border-color:#ffff00;}
.theme-2 nav.footer-minisite .btn.btn-social{
    background:#ffff00; color:#000000; border-color:#ffff00;
}
.theme-2 nav.footer-minisite .btn.btn-social:hover{background:#ffff00; color:#000000;}
.theme-2 nav.footer-minisite .quicklinks > a, .theme-2 nav.footer-minisite .sep{color:#ffff00;}
.theme-2 nav.footer-minisite .quicklinks > a:hover{color:#ffff00;}
.theme-2 nav.footer-minisite .visitor-count > *{background:#ffff00; color:#000000;}


/* Footer Minisite Pattern */
.footer-minisite-pattern{
    position:relative; width:100%; overflow-x:hidden; margin:-200px 0 -150px 0; z-index:-1;
}
.footer-minisite-pattern img{display:block; width:100%; height:auto; margin:0 auto;}
@media screen and (max-width:1299.98px){
    .footer-minisite-pattern{margin:-200px 0 -170px 0;}
    .footer-minisite-pattern img{width:1500px; margin-left:calc(50% - 800px);}
}
@media screen and (max-width:1199.98px){
    .footer-minisite-pattern{margin:-180px 0 -160px 0;}
    .footer-minisite-pattern img{width:1300px; margin-left:calc(50% - 700px);}
}
@media screen and (max-width:991.98px){
    .footer-minisite-pattern{margin:-130px 0 -135px 0;}
    .footer-minisite-pattern img{width:1100px; margin-left:calc(50% - 550px);}
}
@media screen and (max-width:767.98px){
    .footer-minisite-pattern{margin:-90px 0 -100px 0;}
    .footer-minisite-pattern img{width:800px; margin-left:calc(50% - 400px);}
}
@media screen and (max-width:575.98px){
    .footer-minisite-pattern{margin:-60px 0 -88px 0;}
    .footer-minisite-pattern img{width:700px; margin-left:calc(50% - 420px);}
}

.theme-1 .footer-minisite-pattern{display:none!important;}
.theme-2 .footer-minisite-pattern{display:none!important;}


/* Section Minisite */
.section-minisite{
    background-size:100% auto; background-position:top center; background-repeat:no-repeat;
}
.theme-1 .section-minisite{background:none!important;}
.theme-2 .section-minisite{background:none!important;}


/* List Header */
.list-header .block{display:flex; flex-wrap:wrap; align-items:center;}
.list-header .choice-wrapper{display:flex; align-items:center; margin:.125rem 0 .125rem 1rem;}
.list-header .choice-wrapper:first-child{margin-left:0;}
.list-header .text{margin:0 .375rem 0 0; white-space:nowrap;}
.list-header .select-wrapper{margin:0!important;}
.list-header .select-wrapper::after{right:0; width:1.25rem;}
.list-header select{padding:.375rem 1.25rem .375rem .5rem; font-size:.8125rem;}
.list-header .option{
    width:2rem; height:2rem; line-height:2.0625rem; font-size:1.25rem;
    margin:.0625rem .125rem; border-radius:0;
}
@media screen and (max-width:991.98px){
    .list-header{flex-wrap:wrap; justify-content:center;}
    .list-header > .block{
        width:100%; text-align:center; justify-content:center; margin:0 0 .4375rem 0;
    }
    .list-header .select-wrapper, .list-header .search-wrapper{
        display:block; width:100%; max-width:18rem;
    }
    .list-header .select-wrapper > *, .list-header .search-wrapper > *{width:100%;}
}

/* List Footer */
.list-footer{margin:2.5rem 0 0 0;}
.list-footer .select-wrapper::after{right:0; width:1.25rem;}
.list-footer select{
    padding:.18725rem 1.25rem .18725rem .5rem; font-size:.8125rem; margin:0 0 0 .25rem;
}
@media screen and (max-width:991.98px){
    .list-footer{
        flex-wrap:wrap; justify-content:center; padding:.3125rem 0 .625rem 0;
        margin:2.25rem 0 0 0;
    }
    .list-footer > .block{width:100%;}
    .list-footer .text-wrapper{width:100%;}
}


/* Post Footer Minisite */
.post-footer-minisite{
    display:block; width:100%; padding:1.5rem 1.25rem; margin:1.5rem 0 0 0;
    border:1px solid #e8e8e8; border-left:3px solid #000000;
}
.post-footer-minisite .block{display:flex; align-items:center; flex-wrap:wrap;}
.post-footer-minisite .sep{
    display:block; width:4.5rem; height:.125rem; margin:0 0 0 .75rem; background:#fe4d01;
}
.post-footer-minisite .tag{
    display:block; padding:.375rem 1.75rem .3125rem .75rem; margin:.125rem 0 .125rem .75rem;
    white-space:nowrap; font-size:.875rem; font-weight:300; background:#eeeeee; color:#000000;
    clip-path:polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%);
    transition:background .25s, color .25s;
}
.post-footer-minisite .tag:hover{background:#fe4d01; color:#ffffff;}
@media screen and (max-width:1199.98px){
    .post-footer-minisite{padding:1.25rem 1.125rem;}
    .post-footer-minisite .sep{width:3.75rem; margin:0 0 0 .625rem;}
    .post-footer-minisite .tag{margin:.125rem 0 .125rem .625rem;}
}
@media screen and (max-width:991.98px){
    .post-footer-minisite{padding:1rem 1rem; margin:1.25rem 0 0 0;}
    .post-footer-minisite .sep{width:3.25rem; margin:0 0 0 .5rem;}
    .post-footer-minisite .tag{margin:.125rem 0 .125rem .5rem;}
}

.theme-1 .post-footer-minisite{
    border:1px solid #ffffff; border-left:3px solid #ffffff;
}
.theme-1 .post-footer-minisite .tag,
.theme-1 .post-footer-minisite .tag:hover{background:#ffffff; color:#000000;}
.theme-1 .post-footer-minisite .sep{background:#ffffff;}

.theme-2 .post-footer-minisite{
    border:1px solid #ffff00; border-left:3px solid #ffff00;
}
.theme-2 .post-footer-minisite .tag,
.theme-2 .post-footer-minisite .tag:hover{background:#ffff00; color:#000000;}
.theme-2 .post-footer-minisite .sep{background:#ffff00;}


/* Float Choice Wrapper */
.float-choice-wrapper{position:absolute; top:-.3125rem; left:0;}
.float-choice-wrapper > .wrapper{position:relative; display:flex; align-items:center;}
.float-choice-wrapper .select-wrapper::after{right:0;}
.float-choice-wrapper select{padding:.375rem 1.25rem .375rem .5rem; font-size:.8125rem;}
@media screen and (max-width:991.98px){
    .float-choice-wrapper{
        position:relative; top:unset; left:unset; width:100%; margin:0 0 1rem 0;
    }
    .float-choice-wrapper > .wrapper{justify-content:center;}
}
